<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="service/config/name" value="DEV_Lightstone_Workflow_Reporting_Service"/>
  <add key="service/config/displayName" value="DEV - Lightstone: Billing Reporting Service"/>
  <add key="service/config/description" value="DEV - Lightstone: Billing Reporting Service"/>
  
  <add key="report/email/to" value="allistairec@lightstone.co.za"/>
</appSettings>