<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="service/config/name" value="DEV_Lightstone_Reporting_Billing_Service"/>
  <add key="service/config/displayName" value="DEV - Lightstone: Reporting Billing Service"/>
  <add key="service/config/description" value="DEV - Lightstone: Reporting Billing Service"/>
</appSettings>