<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.1" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Common.Logging" version="3.1.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Lace.Domain.Core" version="1.0.0.1596" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Lace.Domain.Core.Entities" version="1.0.0.1596" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Lace.Domain.Core.Requests" version="1.0.0.1596" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.PackageBuilder.Domain.Entities.Enums" version="1.0.0.1224" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="1.0.0.1596" targetFramework="net45" />
  <package id="MemBus" version="3.0.1" targetFramework="net45" />
  <package id="NEventStore" version="5.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
</packages>