<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonDomain" version="1.6.0.3" targetFramework="net45" />
  <package id="EasyNetQ-Bundle" version="0.28.5.115" targetFramework="net45" />
  <package id="NEventStore" version="4.0.0.15" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xUnit.BDD" version="1.9.2.0" targetFramework="net45" />
</packages>