<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PropertiesSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="PropertiesSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://test.lightstone.co.za/avm/webservices/properties.asmx"
        binding="basicHttpBinding" bindingConfiguration="PropertiesSoap"
        contract="LightstonePropertyServiceReference.PropertiesSoap"
        name="PropertiesSoap" />
      <endpoint address="http://test.lightstone.co.za/avm/webservices/properties.asmx"
        binding="customBinding" bindingConfiguration="PropertiesSoap12"
        contract="LightstonePropertyServiceReference.PropertiesSoap"
        name="PropertiesSoap12" />
    </client>
  </system.serviceModel>
</configuration>