<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lace.Domain.DataProviders.Lightstone.Business.Director.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Lace.Domain.DataProviders.Lightstone.Business.Director.Properties.Settings>
            <setting name="Lightstone_DataPlatform_Lace_Domain_DataProviders_Lightstone_Lace_Domain_DataProviders_Lightstone_Business_Director_LightstoneBusinessServiceReference1_api"
                serializeAs="String">
                <value>http://test.lightstonebusiness.co.za/lsb/api/api.asmx</value>
            </setting>
            <setting name="Lightstone_DataPlatform_Lace_Domain_DataProviders_Lightstone_Lace_Domain_DataProviders_Lightstone_Business_Director_LightstoneBusinessServiceReference_api"
                serializeAs="String">
                <value>http://test.lightstonebusiness.co.za/lsb/api/api.asmx</value>
            </setting>
        </Lace.Domain.DataProviders.Lightstone.Business.Director.Properties.Settings>
    </applicationSettings>
</configuration>