<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="JisWsInterfaceSoap">
                <security mode="Transport" />
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="https://jis.co.za/jiswsinterface/jiswsinterface.asmx" binding="basicHttpBinding" bindingConfiguration="JisWsInterfaceSoap" contract="JisServiceReference.JisWsInterfaceSoap" name="JisWsInterfaceSoap" />
        </client>
    </system.serviceModel>
</configuration>