<?xml version="1.0"?>
<connectionStrings>
  <add name="userManagement"
       connectionString="Data Source=(localdb)\v11.0;Initial Catalog=UserManagement;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;"
       providerName="System.Data.SqlClient" />
</connectionStrings>
