<appSettings>
  <add key="radar.Projections.Service.RabbitMq.Name" value="Radar.Projections.RabbitMq" />
  <add key="radar.Projections.Service.RabbitMq.Description" value="Projections from rabbitmq into a sql server." />
  <add key="radar.Projections.Service.RabbitMq.DisplayName" value="Radar Projections RabbitMq Service" />
</appSettings>