<connectionStrings>
  <add name="Radar" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQL2008R2;Initial Catalog=Radar;Integrated Security=True;" />
  <add name="RadarRavenDb" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=RadarDemo;Integrated Security=True;" />
  <add name="RadarReadModel" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQL2008R2;Initial Catalog=RadarReadModel;Integrated Security=True;" />
  <add name="RabbitMqEventBus" connectionString="host=localhost;product=RadarEventsProduct;platform=Radar" />
  <add name="RadarReadModelUpdate" connectionString="data source=.\SQL2008R2;Persist Security Info=False;User ID=radar_readmodel_user; Password=radar_readmodel_user; Initial Catalog=RadarReadModel" />
</connectionStrings>
