<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="service/config/name" value="Lightstone_Workflow_Billing_Scheduler_Service"/>
  <add key="service/config/displayName" value="Lightstone: Workflow Billing Scheduler Service"/>
  <add key="service/config/description" value="Lightstone: Workflow Billing Scheduler Service"/>

    <add key="owin:HandleAllRequests" value="true"/>
</appSettings>