@using Billing.Api.ViewModels
@Html.Partial("Shared/PageHeader", new HeaderViewModel("Admin Billing", ""))

<!-- ROW 1 -->
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-stack-overflow"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Billing Run</span>
                <br />
                <span class="info-box-text">
                    <button type="button" class="btn btn-primary btn-md">Automated</button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-purple"><i class="fa fa-refresh"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Force Billing Run Process</span>
                <br />
                <span class="info-box-text">
                    <button type="button" class="btn btn-primary btn-md">Run</button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-gray-active"><i class="fa fa-envelope-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Statement Template Layout</span>
                <br />
                <span class="info-box-text">
                    <button type="button" class="btn btn-primary btn-md">View</button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-blue-gradient"><i class="fa fa-star-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Invoice Template Layout</span>
                <br />
                <span class="info-box-text">
                    <button type="button" class="btn btn-primary btn-md">View</button>
                </span>
            </div>
        </div>
    </div>
</div>  

<!-- ROW 2 -->
<div class="row">
    
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-olive-active"><i class="fa fa-flag-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Pastel</span>
                <br />
                <span class="info-box-text">
                    <button type="button" class="btn btn-primary btn-md">Action</button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Merchant</span>
                <br />
                <span class="info-box-text">
                    <button type="button" class="btn btn-primary btn-md">Action</button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-teal-gradient"><i class="fa fa-inbox"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Provider Notifications</span>
                <br />
                <span class="info-box-text">
                    <button type="button" class="btn btn-primary btn-md">View</button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-gears"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Billing Run Notification Settings</span>
                <br />
                <span class="info-box-text">
                    <button type="button" class="btn btn-primary btn-md">View</button>
                </span>
            </div>
        </div>
    </div>
</div>