@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Monitoring.Read.ReadModel.Models.DataProviders.MonitoringDataProviderModel>

@{
    Layout = "_Layout.cshtml";
}
<table>
    <tr>
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>
</table>