<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>-->
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
  </configSections>
  <appSettings>
    <add key="IvidServiceUserName" value="CARSTATS-CARSTATS" />
    <add key="IvidServiceUserPassword" value="8B5Jk3Q66" />
    <!--t8rv3d14 (QA Password)-->
    <add key="IvidTitleHolderServiceUserName" value="CARSTATS-CARSTATS" />
    <add key="IvidTitleHolderServiceUserPassword" value="8B5Jk3Q66" />
    <!--Audatex-->
    <add key="AudatexCompanyCode" value="CARSTATS" />
    <add key="AudatexUserId" value="carstat1" />
    <add key="AudatexPassword" value="Audatex01" />
    <!--RABBIT MQ-->
    <!--<add key="rabbitMQ/config/subscriptionPrefix" value="LACE_SOURCES_SUBSCRIPTION_PREFIX"/>-->
    <!--<add key="rabbitMQ/config/subscriptionPrefix" value="MONITOR-EVENT-TRACKING" />-->
    <add key="DecryptyDriversLicenseApiUrl" value="http://stage.conclude.co.za/SignioAPI/api/client/" />
    <add key="DecryptyDriversLicenseApiOperation" value="decryptDriversLicenseFromBase64" />
    <add key="DecryptyDriversLicenseApiUsername" value="CustomApp" />
    <add key="DecryptyDriversLicenseApiPassword" value="7qDwUsXXGjEFN9" />
    <add key="DecryptyDriversLicenseoApiXAuthToken" value="42f427a8-4987-4be4-af31-f4289acc3842" />
  </appSettings>
  <connectionStrings>
    <!--<add connectionString="“host=localhost;username=guest;password=guest”" name="LaceEventBus"/>-->
    <add name="NServiceBus/Transport" connectionString="host=localhost" />
   <!-- <add name="lace/source/database/auto-car-stats" connectionString="Data Source=FULLIAUTOMATIX\SQL2014;Initial Catalog=Auto_Carstats;User Id=sa;Password=;Application Name=auto;" />
    <add name="lace/source/database/ls-corporate-auto" connectionString="Data Source=FULLIAUTOMATIX\SQL2014;Initial Catalog=LS_Corporate_Auto;User Id=sa;Password=;" /> -->
    
    <add name="lace/source/database/auto-car-stats" connectionString="Data Source=.\SQL2014;Initial Catalog=Auto_Carstats;Integrated Security=True;" />
    <add name="lace/source/database/ls-corporate-auto" connectionString="Data Source=.\SQL2014;Initial Catalog=LS_Corporate_Auto;Integrated Security=True;" />
  </connectionStrings>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="DataPlatform.Monitoring.Lace.Error" />
  <AuditConfig QueueName="DataPlatform.Monitoring.Lace.Audit" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="Lightstone.DataPlatform.Lace.Shared.Monitoring.Messages" Namespace="Lace.Shared.Monitoring.Messages.Commands" Endpoint="DataPlatform.Monitoring.Host" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HpiServiceSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="HpiServiceSoap111" />
        <binding name="IvidTitleholderServiceSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="IvidTitleholderServiceSoap111" />
        <binding name="wsVinCheckSoap" />
        <binding name="BackOfficeWebServiceSoap">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://secure1.ubiquitech.co.za/ivid/ws/hpiService.wsdl" binding="basicHttpBinding" bindingConfiguration="HpiServiceSoap11" contract="IvidServiceReference.HpiService" name="HpiServiceSoap11" />
      <endpoint address="https://secure1.ubiquitech.co.za:443/ivid/ws/" binding="basicHttpBinding" bindingConfiguration="IvidTitleholderServiceSoap11" contract="IvidTitleHolderServiceReference.IvidTitleholderService" name="IvidTitleholderServiceSoap11" />
      <endpoint address="http://ws.test.lightstoneauto.co.za/LIVE/wsVinCheck.asmx" binding="basicHttpBinding" bindingConfiguration="wsVinCheckSoap" contract="RgtVinServiceReference.wsVinCheckSoap" name="wsVinCheckSoap" />
      <endpoint address="https://mobile.za.ax-aee.co.uk/audabridge/backofficeservice.asmx" binding="basicHttpBinding" bindingConfiguration="BackOfficeWebServiceSoap" contract="AudatexServiceReference.BackOfficeWebServiceSoap" name="BackOfficeWebServiceSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentMigrator" publicKeyToken="aacfc7de5acabf05" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.1" newVersion="1.1.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1408.717" newVersion="4.2.1408.717" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.5.0" newVersion="3.3.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>