<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
    <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />-->
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
    
  </configSections>
  <appSettings>
    <!--QA-->
    <add key="ivid/username" value="CARSTATS2-CARSTATS" />
    <add key="ivid/password" value="hhbkki3g" />
   
    <add key="ividtitleholder/username" value="CARSTATS2-CARSTATS" />
    <add key="ividtitleholder/password" value="hhbkki3g" />

    <!--PROD
    <add key="ivid/username" value="LIVE2-CARSTATS" />
    <add key="ivid/password" value="!ViDP@sSW0rD_f0r(login)50" />

    <add key="ividtitleholder/username" value="LIVE2-CARSTATS" />
    <add key="ividtitleholder/password" value="!ViDP@sSW0rD_f0r(login)50" />-->
    <!--Audatex-->
    <add key="AudatexCompanyCode" value="CARSTATS" />
    <add key="AudatexUserId" value="carstat1" />
    <add key="AudatexPassword" value="Audatex01" />
   
    <add key="drivers/license/decryption/url" value="https://core.conclude.co.za/SignioAPI/api/client/" />
    <add key="drivers/license/decryption/suffix" value="decryptDriversLicenseFromBase64" />
    <add key="drivers/license/decryption/username" value="CustomApp" />
    <add key="drivers/license/decryption/password" value="fK9vtSA88Pxe5C" />
    <add key="drivers/license/decryption/key" value="X-Auth-Token" />
    <add key="drivers/license/decryption/token" value="4be8d746-76d5-44dc-bc0e-4350fbcd232f" />

    <add key="lightstone/business/api/username" value="murray@lightstone.co.za" />
    <add key="lightstone/business/api/password" value="Pass!1234" />
    
    <add key="pcubed/ezscore/url" value="https://www.consumerview.co.za/Secure/Consumerview/" />
    <add key="pcubed/ezscore/username" value="LSNonCPAAuto" />
    <add key="pcubed/ezscore/password" value="32a33df6e31419b895720fa644d9e178" />
    
    <!--<add key="ConsumerViewApiUrl" value="https://www.consumerview.co.za/Secure/Consumerview/" />
    <add key="ConsumerViewApiUsername" value="LSNonCPAAuto" />
    <add key="ConsumerViewApiPassword" value="32a33df6e31419b895720fa644d9e178" />-->
    
    <add key="lightstone/conumser/specifications/accesskey" value="99167DC9-A09D-4582-AECA-AE5D42B7F201" />

    <add key="xds/api/username" value="light1" />
    <add key="xds/api/password" value="beybzn" />
    
  </appSettings>
  <connectionStrings>
    <!--<add connectionString="“host=localhost;username=guest;password=guest”" name="LaceEventBus"/>-->
    <add name="NServiceBus/Transport" connectionString="host=localhost" />
    <add name="workflow/dataprovider/queue" connectionString="host=localhost" />    
    <add name="lace/source/database/auto-car-stats" connectionString="Data Source=.;Initial Catalog=Auto_Carstats;Integrated Security=True;" />
    <add name="lace/source/database/integrations/bmw" connectionString="Data Source=.;Initial Catalog=Lim.Bmw;Integrated Security=True;" />
    <add name="lace/source/database/ls-corporate-auto" connectionString="Data Source=.;Initial Catalog=LS_Corporate_Auto;Integrated Security=True;" />
    <add name="workflow/transactions/database/read" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Billing;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  </connectionStrings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HpiServiceSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="HpiServiceSoap111" />
        <binding name="SQSServicesSoap" />
        <binding name="IvidTitleholderServiceSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="IvidTitleholderServiceSoap111" />
        <binding name="wsVinCheckSoap" />
        <binding name="BackOfficeWebServiceSoap">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="XDSConnectWSSoap">
          <security mode="Transport" />
        </binding>
        <binding name="XDSConnectWSSoap1" />
        <binding name="PropertiesSoap" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
      <binding name="apiSoap" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
      </basicHttpBinding>
      <customBinding>
        <binding name="PropertiesSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
         <binding name="SQSServicesSoap12">
           <textMessageEncoding messageVersion="Soap12" /><httpTransport /></binding>
      <binding name="apiSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://secure1.ubiquitech.co.za/ivid/ws/hpiService.wsdl" binding="basicHttpBinding" bindingConfiguration="HpiServiceSoap11" contract="IvidServiceReference.HpiService" name="HpiServiceSoap11" />
      <endpoint address="https://secure1.ubiquitech.co.za:443/ivid/ws/" binding="basicHttpBinding" bindingConfiguration="IvidTitleholderServiceSoap11" contract="IvidTitleHolderServiceReference.IvidTitleholderService" name="IvidTitleholderServiceSoap11" />
      <endpoint address="http://ws.test.lightstoneauto.co.za/LIVE/wsVinCheck.asmx" binding="basicHttpBinding" bindingConfiguration="wsVinCheckSoap" contract="RgtVinServiceReference.wsVinCheckSoap" name="wsVinCheckSoap" />
      <endpoint address="https://mobile.za.ax-aee.co.uk/audabridge/backofficeservice.asmx" binding="basicHttpBinding" bindingConfiguration="BackOfficeWebServiceSoap" contract="AudatexServiceReference.BackOfficeWebServiceSoap" name="BackOfficeWebServiceSoap" />
      <endpoint address="http://test.lightstone.co.za/avm/webservices/properties.asmx" binding="basicHttpBinding" bindingConfiguration="PropertiesSoap" contract="LightstonePropertyServiceReference.PropertiesSoap" name="PropertiesSoap" />
      <!--<endpoint address="http://test.lightstonebusiness.co.za/lsb/api/api.asmx" binding="basicHttpBinding" bindingConfiguration="PropertiesSoap" contract="LightstonePropertyServiceReference.PropertiesSoap" name="PropertiesSoap"/>-->
      <!--<endpoint address="http://test.lightstonebusiness.co.za/lsb/api/api.asmx" binding="customBinding" bindingConfiguration="PropertiesSoap12" contract="LightstonePropertyServiceReference.PropertiesSoap" name="PropertiesSoap12"/>-->
      <endpoint address="http://test.lightstonebusiness.co.za/lsb/api/api.asmx" binding="basicHttpBinding" bindingConfiguration="apiSoap" contract="LightstoneBusinessServiceReference.apiSoap" name="apiSoap" />
     <!-- <endpoint address="http://test.lightstonebusiness.co.za/lsb/api/api.asmx" binding="customBinding" bindingConfiguration="apiSoap12" contract="LightstoneBusinessServiceReference.apiSoap" name="apiSoap12"/> -->
      <endpoint address="http://www.lightstoneconsumer.co.za/Services/SQSServices.asmx" binding="basicHttpBinding" bindingConfiguration="SQSServicesSoap" contract="LightsoneSpecificationsServiceReference.SQSServicesSoap" name="SQSServicesSoap" />
    <!--  <endpoint address="http://www.lightstoneconsumer.co.za/Services/SQSServices.asmx" binding="customBinding" bindingConfiguration="SQSServicesSoap12" contract="LightsoneSpecificationsServiceReference.SQSServicesSoap" name="SQSServicesSoap12" />-->
      <endpoint address="https://www.web.xds.co.za/uatxdsconnect/XDSConnectWS.asmx" binding="basicHttpBinding" bindingConfiguration="XDSConnectWSSoap" contract="XdsServiceReference.XDSConnectWSSoap" name="XDSConnectWSSoap" />


    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentMigrator" publicKeyToken="aacfc7de5acabf05" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.1" newVersion="1.1.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1408.717" newVersion="4.2.1408.717" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.5.0" newVersion="3.3.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>