<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="Common.Logging.Log4Net" version="2.0.1" targetFramework="net45" />
  <package id="EasyNetQ" version="0.32.2.271" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Lace.Domain.Core" version="1.0.0.315" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Monitoring" version="1.0.0.135" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.PackageBuilder.Domain.Entities" version="1.0.0.311" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="1.0.0.308" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.Shared.BuildingBlocks" version="1.0.0.135" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Workflow.BuildingBlocks" version="1.0.0.135" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Workflow.RabbitMQ" version="1.0.0.135" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="NEventStore" version="5.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.3.0" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xUnit.BDD" version="1.9.2.0" targetFramework="net45" />
</packages>