<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AudatexCompanyCode" value="CARSTATS"/>
    <add key="AudatexUserId" value="carstat1"/>
    <add key="AudatexPassword" value="Audatex01"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BackOfficeWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mobile.za.ax-aee.co.uk/audabridge/backofficeservice.asmx"
          binding="basicHttpBinding" bindingConfiguration="BackOfficeWebServiceSoap"
          contract="AudatexServiceReference.BackOfficeWebServiceSoap"
          name="BackOfficeWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>