@using UserManagement.Api.ViewModels
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LookupViewModel>

@{
    var viewModel = new PageHeadingViewModel(Model.Name, "");
    var tableId = string.Format("{0}_table", viewModel.Title.Replace(" ", ""));
}
@Html.Partial("Shared/PageHeading", viewModel)

<table id="@tableId" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Value</th>
            <th></th>
        </tr>
    </thead>
</table>

<script>
    var table = $("#@tableId").dataTable({
        dom: '<"toolbar">frtip<"bottom"l>',
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
        processing: true,
        serverSide: true,
        ajax: "/Lookups/" + "@Model.AssemblyQualifiedName",
        columns: [
            { data: "id", visible: false },
            { data: "name" },
            { data: "value" },
            { data: null, defaultContent: "<button class='btn btn-primary'>Edit</button>" }
        ]
    });

    $("div.table-toolbar").html('<button class="btn btn-default">Add</button>');

    $('#@tableId tbody').on('click', 'button', function () {
        var data = table.row($(this).parents('tr')).data();
        alert(data.id + " - " + data.name);
    });
</script>
