<?xml version="1.0" encoding="utf-8" ?>
  <connectionStrings>
    <add name="workflow/redis/cache" connectionString="localhost" />
    <add name="workflow/billing/queue" connectionString="host=localhost"/>
    <add name="billingTest" connectionString="Data Source=.;Initial Catalog=Billing.Test;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=FalseConnect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>
