<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Common.Logging" version="3.0.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net45" />
  <package id="EasyNetQ" version="0.47.10.380" targetFramework="net45" />
  <package id="FluentMigrator" version="1.2.1.0" targetFramework="net45" />
  <package id="FluentMigrator.Runner" version="1.2.1.0" targetFramework="net45" />
  <package id="FluentMigrator.Tools" version="1.2.0.0" targetFramework="net45" />
  <package id="FluentNHibernate" version="2.0.1.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="1.0.0.1038" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.Shared.BuildingBlocks" version="1.0.0.953" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared.Messaging.Billing" version="1.0.0.1038" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.Shared.Public.TestHelpers" version="1.0.0.1038" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Workflow.BuildingBlocks" version="1.0.0.1038" targetFramework="net45" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="NHibernate" version="4.0.0.4000" targetFramework="net45" />
  <package id="NHibernate.Caches.SysCache" version="4.0.0.4000" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.4.3" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xUnit.BDD" version="1.9.2.0" targetFramework="net45" />
</packages>