<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IvidServiceUserName" value="CARSTATS-CARSTATS"/>
    <add key="IvidServiceUserPassword" value="8B5Jk3Q66"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HpiServiceSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="HpiServiceSoap111" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://qa.ubiquitech.co.za:443/ivid/ws/"
          binding="basicHttpBinding" bindingConfiguration="HpiServiceSoap11"
          contract="IvidServiceReference.HpiService" name="HpiServiceSoap11" />
    </client>
  </system.serviceModel>
</configuration>