<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="service/config/name" value="Lightstone_Workflow_Billing_Run_Service"/>
  <add key="service/config/displayName" value="Lightstone: Workflow Billing Run Service"/>
  <add key="service/config/description" value="Lightstone: Workflow Billing Run Service"/>
  <add key="ClientSettingsProvider.ServiceUri" value="" />
  <add key="rabbitMQ/config/subscriptionPrefix" value="BILLING"/>

  <add key="report/email/to" value="allistairec@lightstone.co.za"/>
</appSettings>