@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Billing.Api.ViewModels.HeaderViewModel>

<div class="box-header with-border">
    <i class="@Model.IconClass"></i>
    <h3 class="box-title">@Model.Title</h3>
    <div class="box-tools pull-right">
        <a class="btn btn-box-tool collapse-box" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></a>
    </div><!-- /.box-tools -->
</div><!-- /.box-header -->