@*@using Billing.Domain.Entities*@
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Billing</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="/"><i class="fa fa-fw fa-dashboard"></i> Pre Billing</a>
                    </li>
                    <li>
                        <a href="/"><i class="fa fa-fw fa-dashboard"></i> Stage Billing</a>
                    </li>
                    <li>
                        <a href="/"><i class="fa fa-fw fa-dashboard"></i> Final Billing</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/"><i class="fa fa-fw fa-dashboard"></i> M.I.</a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Admin</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="/"><i class="fa fa-fw fa-dashboard"></i> Billing</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
