<appSettings>
  <add key="service/config/name" value="Lightstone_Lim_Service" />
  <add key="service/config/displayName" value="Lightstone: LIM Service" />
  <add key="service/config/description" value="Lightstone: LIM Service" />
  
  <add key="lim/schedule/database/doUpdate" value="true" />
  <add key="lim/schedule/bmw/database/doUpdate" value="true" />
  <add key="lim/schedule/bmw/filePath" value="D:\BMWFinSFTP\" />
  <add key="lim/schedule/bmw/fileName" value="BMWFin_{0}.zip" />
  <add key="lim/schedule/bmw/filePassword" value="j5}o'0',w8U'>~,7~(~p" />
<add key="lim/schedule/bmw/database/firstRowIsColumnName" value="true" />
<add key="lim/schedule/bmw/backupFilePath" value="D:\BMWFin\Backups" />
<add key="lim/schedule/bmw/failFilePath" value="D:\BMWFin\Failures" />
<add key="lim/schedule/bmw/fileExtensions" value="*.zip" />

</appSettings>