<appSettings>
  <add key="service/config/name" value="Lightstone_Lim_Service" />
  <add key="service/config/displayName" value="Lightstone: LIM Service" />
  <add key="service/config/description" value="Lightstone: LIM Service" />

  <add key="lim/schedule/database/doUpdate" value="true" />
  <add key="lim/schedule/bmw/database/doUpdate" value="true" />
  <add key="lim/schedule/bmw/filePath" value="D:\BMWFinSFTP\" />
  <add key="lim/schedule/bmw/fileName" value="BMWFin_{0}.zip" />
  <add key="lim/schedule/bmw/filePassword" value="j5}o'0',w8U'>~,7~(~p" />
  <add key="lim/schedule/bmw/database/firstRowIsColumnName" value="true" />
  <add key="lim/schedule/bmw/backupFilePath" value="D:\Lim\BMWFin\Backups" />
  <add key="lim/schedule/bmw/failFilePath" value="D:\Lim\BMWFin\Failures" />
  <add key="lim/schedule/bmw/fileExtensions" value="*.zip" />

  <add key="lim/schedule/bmw/email/to" value="rudi@customapp.co.za" />
  <add key="lim/schedule/bmw/email/from" value="integrations@lightstoneauto.co.za" />
  <add key="lim/schedule/bmw/email/subject" value="LS Auto Integration Notification: BMW Data File" />
  <add key="lim/schedule/bmw/email/cc" value="rudi@customapp.co.za" />
  <add key="lim/schedule/bmw/email/notification/template" value="&lt;htm&gt;&lt;head&gt;&lt;title&gt;&lt;/title&gt;&lt;/head&gt;&lt;body>&lt;h4&gt;Good Day, &lt;/h4&gt;&lt;p&gt;{0}&lt;/p&gt;&lt;p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;/html&gt;" />

</appSettings>