<appSettings>
  <add key="service/config/name" value="Lightstone_Lim_Service" />
  <add key="service/config/displayName" value="Lightstone: LIM Service" />
  <add key="service/config/description" value="Lightstone: LIM Service" />
  <add key="lim/schedule/database/doUpdate" value="true" />
  <add key="lim/schedule/bmw/database/doUpdate" value="true" />
</appSettings>