<connectionStrings>
  <add name="lim/schedule/bus" connectionString="host=localhost" />
  <add name="lim/schedule/database" connectionString="Data Source=.;Initial Catalog=Lim;Integrated Security=True;MultipleActiveResultSets=true;" />
  <add name="lim/schedule/bmw/database" connectionString="Data Source=.;Initial Catalog=Lim.BMW;Integrated Security=True;MultipleActiveResultSets=true;" />
  <!--<add name="lim/schedule/bmw/database" connectionString="Data Source=.;Initial Catalog=LS_Staging;Integrated Security=True;MultipleActiveResultSets=true;" />-->
</connectionStrings>
