<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Common.Logging" version="3.2.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.2.0" targetFramework="net45" />
  <package id="Common.Logging.Log4Net1211" version="3.2.0" targetFramework="net45" />
  <package id="DotNetZip" version="1.9.6" targetFramework="net45" />
  <package id="EasyNetQ" version="0.47.10.380" targetFramework="net45" />
  <package id="ExcelDataReader" version="2.1.2.3" targetFramework="net45" />
  <package id="FluentNHibernate" version="2.0.1.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.Shared.BuildingBlocks" version="1.0.0.2008" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Workflow.BuildingBlocks" version="1.0.0.1812" targetFramework="net45" />
  <package id="log4net" version="1.2.11" targetFramework="net45" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net45" />
  <package id="Quartz" version="2.3.1" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.4.3" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="SlowCheetah" version="2.5.14" targetFramework="net45" />
  <package id="Topshelf" version="3.1.4" targetFramework="net45" />
</packages>