@using UserManagement.Api.ViewModels
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LookupViewModel>

@{
    var viewModel = new HeaderViewModel(Model.Name, "");
    var tableId = string.Format("{0}_table", viewModel.Title.Replace(" ", ""));
}
@Html.Partial("Shared/PageHeader", viewModel)

<div class="box">
    <table id="@tableId" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    <i id="ctActionIcon" class="fa fa-bolt"></i>
                </th>
            </tr>
        </thead>
    </table>
</div>
<script>
    var table = $("#@tableId").dataTable({
        dom: '<"box-header"f>t<"box-footer"lip>r',
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
        processing: true,
        serverSide: true,
        ajax: "/ValueEntities/" + "@Model.AssemblyQualifiedName",
        columns: [
            { data: "id", visible: false },
            { data: "value" },
            {
                data: null,
                render: function (data, type, full, meta) {
                    return '<div class="row">' +
                        '<div class="col-lg-1"><a class="btn btn-primary entity-edit" href="#/ValueEntities/' + data.id + '">Edit</a></div>' +
                        '<div class="col-lg-1"><a class="btn btn-danger entity-remove" href="#/ValueEntities/Delete/' + data.id + '">Delete</a></div>' +
                        '</div>';
                }
            }
        ]
    });

    $("<a>", { "class": "btn btn-default entity-add pull-left", href: "#/ValueEntities/Add/@Model.AssemblyQualifiedName", text: "Add" }).appendTo($("div.box-header"));

    UserManagement.overrideDataTablesStyling();

    //$("div.table-toolbar").append("<div><a class='btn btn-default entity-add' href='#/ValueEntities/Add/@Model.AssemblyQualifiedName'>Add</a></div>");
    @*$('#@tableId tbody').on('click', 'button', function () {
        var data = table.row($(this).parents('tr')).data();
        alert(data.id + " - " + data.name);
    });*@
</script>
