<script type="text/ng-template" id="field_render.html">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-1" style="margin-left: 15px;">
            {{dField.name}}
        </div>
        <div class="col-md-3">
            {{dField.type}}
        </div>
        <div class="col-md-1" style="margin-left: -7px;">
            <input class="form-control" style="width: 100%;" ng-model="dField.label" type="text">
        </div>
        <div class="col-md-1" style="margin-left: -5px;">
            <input class="form-control" style="width: 100%;" ng-model="dField.definition" type="text">
        </div>
        <div class="col-md-1" style="margin-left: 0px;">
            <input class="form-control" style="width: 100%;" ng-model="dField.order" spinner-only type="number">
        </div>
        <div class="col-md-2" style="margin-left: -5px;">
            <div ng-show="(dField.dataFields).length <= 0"
                 multi-select
                 input-model="dField.industries"
                 button-label="name"
                 item-label="name maker"
                 max-labels="1"
                 tick-property="isSelected"
                 is-disabled="false"
                 on-item-click="childIndustryChanged(data, dField)">
            </div>
            <div ng-show="(dField.dataFields).length > 0"
                 multi-select
                 input-model="dField.industries"
                 button-label="name"
                 item-label="name maker"
                 max-labels="1"
                 tick-property="isSelected"
                 is-disabled="true"
                 on-item-click="childIndustryChanged(data, dField)">
            </div>
        </div>
        <div class="col-md-1" style="margin-left: -5px;" ng-show="switch == true">
            <input ng-show="(dField.dataFields).length <= 0" class="form-control" style="width: 100% !important;" type="number" min="0" ng-model="dField.costOfSale" />
            <label ng-show="(dField.dataFields).length > 0" class="form-control" style="width: 100% !important;">{{totalParChar(dField)}}</label>
        </div>
    </div>
    <div ng-repeat="dField in dField.dataFields" class="child" ng-include="'field_render.html'"></div>
</script>

<section class="mainbar" data-ng-controller="dataProviderDetail">
    <!--<div ng-model="dataProvider">
            <div ng-repeat="data in dataProvider.response">
                <li>{{data}}</li>
            </div>

        </div> -->
    <!--{{dataProvider.response}}-->

    <section class="matter" data-ng-model="dataProvider.response">

        <div class="container">
            <div class="row">
                <div class="widget wblue">
                    <div id="title" data-cc-widget-header title="{{title}}" allow-collapse="true"></div>
                    <div class="widget-content user" data-ng-repeat="dataProv in dataProvider.response">
                        <!--{{dataProv.dataFields[0].selectedChildren}}-->
                        <div class="row" id="info">
                            <div id="1" class="col-md-3">
                                <div>
                                    <label>Name:</label>
                                    <div>
                                        <input type="text" class="form-control" ng-model="dataProv.name" />
                                    </div>
                                    <label>Version:</label>
                                    <div>
                                        <input type="text" class="form-control" ng-model="dataProv.version" readonly />
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <label>Description</label>
                                    </div>
                                    <div>
                                        <textarea class="form-control" style="resize: none;" rows="6" cols="50" ng-model="dataProv.description"></textarea>
                                    </div>
                                </div>
                                <br />
                                <div>
                                    <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
                                    <button type="button" class="btn btn-success" ng-click="editProvider(dataProv)">Save Data Provider</button>
                                </div>
                            </div>
                            <div id="2" class="col-md-3">
                                <div ng-if="switch == false">
                                    <label>COS Per Request:</label>
                                    <div>
                                        <input id="cosPerReq" type="number" class="form-control" min="0" ng-model="dataProv.costOfSale" />
                                    </div>
                                </div>
                                <div ng-if="switch == true">
                                    <label>COS Per Field (Total Rands):</label>
                                    <div>
                                        <input type="number" class="form-control" value="{{total()}}" ng-readonly="true" />
                                    </div>
                                </div>
                                <br />
                                <div>
                                    <label>Created Date:</label>
                                    <div>{{dataProv.createdDate}}</div>
                                </div>
                                <br />
                                <div>
                                    <label>Edited Date: </label>
                                    <div current-date-time="format"></div>
                                </div>
                                <br />
                                <div>
                                    <label>Owner:</label>
                                    <div>
                                        <select class="form-control" ng-model="dataProv.owner" ng-selected="dataProv.owner">
                                            <option ng-repeat="user in users">{{user.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="3" class="col-md-4">
                                <div>
                                    <label>Override Data Provider Cost: {{switchAlternate}}</label>
                                    <div>
                                        <div class="toggle-bg toggle-alternate {{switch}}">

                                            <label class="{{switch}}">{{switchAlternate}}</label>
                                            <input type="radio" name="toggle" value="Per Request" ng-model="switchAlternate" ng-click="toggle( true )">
                                            <input type="radio" name="toggle" value="Per Field" ng-model="switchAlternate" ng-click="toggle( false )">
                                            <span class=" switch {{switch}} "></span>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div> <!--End Info-->
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="widget wblue">
                                    <div id="field_table_title" data-cc-widget-header title="Response fields" allow-collapse="true"></div>
                                    <div class="widget-content text-left text-info">
                                        <div>
                                            <div class="col-md-1">
                                                <label>Field</label>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Type</label>
                                            </div>
                                            <div class="col-md-1">
                                                <label>Label</label>
                                            </div>
                                            <div class="col-md-1">
                                                <label>Definition</label>
                                            </div>
                                            <div class="col-md-1">
                                                <label>Order</label>
                                            </div>
                                            <div class="col-md-2">
                                                <label>Industry</label>
                                            </div>
                                            <div class="col-md-1" ng-show="switch == true">
                                                <label>Price (Total: R 0)</label>
                                            </div>
                                        </div>
                                        <div class="parent" ng-repeat="dField in dataProv.dataFields" ng-include="'field_render.html'"></div>
                                    </div>
                                    <!--<div class="widget-foot">
                                            <div class="clearfix"></div>
                                        </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="matter" data-ng-model="dataProvider.response">
        <div class="container">
            <div class="row">
                <div class="widget worange">
                    <div id="connection_details" data-cc-widget-header title="Configuration" allow-collapse="true"></div>
                    <div class="widget-content user" data-ng-repeat="dataProv in dataProvider.response">
                        <div class="row">
                            <div id="1" class="col-md-3">
                                <div>
                                    <label>Username:</label>
                                    <div>
                                        <input type="textbox" class="form-control" ng-model="dataProv.sourceConfigurationUsername" readonly />
                                    </div>
                                </div>
                                <label>Configuration URL:</label>
                                <div>
                                    <input type="textbox" class="form-control" ng-model="dataProv.sourceConfigurationUrl" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>
