<section class="mainbar" data-ng-controller="dataProviderDetail">

    <!--<div ng-model="dataProvider">
            <div ng-repeat="data in dataProvider.response">
                <li>{{data}}</li>
            </div>

        </div>-->

    <section class="matter" data-ng-model="dataProvider.response">
        <div class="container">
            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{title}} : Request" allow-collapse="true"></div>
                    <div class="widget-content user" data-ng-repeat="dataProv in dataProvider.response">


                        <div class="row" id="info">

                            <br />
                            
                            <div style="float: right;">
                                <button type="button" class="btn btn-danger">Cancel</button>
                                <button type="button" class="btn btn-primary">Save Draft</button>
                                <button type="button" class="btn btn-success" ng-click="createProvider(dataProv)">Publish</button>
                            </div>

                            <div id="1" class="col-md-3">
                                <div>
                                    <label>Name:</label>
                                    <div>
                                        <input type="textbox" class="form-control" ng-model="dataProv.name" />
                                    </div>
                                    <label>Version:</label>
                                    <div>
                                        <input type="textbox" class="form-control" ng-model="dataProv.version" readonly />
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <label>Description</label>
                                    </div>
                                    <div>
                                        <textarea class="form-control" style="resize: none;" rows="6" cols="50" ng-model="dataProv.description"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div id="2" class="col-md-3">
                                <div>
                                    <label>State:</label>
                                    <div>
                                        <select class="form-control" ng-model="dataProv.state" ng-selected="dataProv.state">
                                            <option ng-repeat="state in states">{{state.name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div>
                                    <label>COS:</label>
                                    <div>
                                        <input type="textbox" class="form-control" ng-model="dataProv.costOfSale" />
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label>Created Date:</label>
                                    <div>{{dataProv.created}}</div>
                                </div>
                                
                                <br />

                                <div>
                                    <label>Edited Date: </label>
                                    <div current-date-time="format"></div>
                                </div>
                                
                                <br />

                                <div>
                                    <label>Owner:</label>
                                    <div>
                                        <select class="form-control" ng-model="dataProv.owner" ng-selected="dataProv.owner">
                                            <option ng-repeat="user in users">{{user.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div> <!--End Info-->

                        <br />

                        <div class="row">
                            <div class="col-md-8">
                                <div class="widget wblue">
                                    <div data-cc-widget-header title="{{title}} : Request - Data Fields" allow-collapse="true"></div>
                                    <div class="widget-content text-left text-info">

                                        <table class="table" style="padding-top: 20px;">
                                            <thead>
                                                <tr>
                                                    <th>Field</th>
                                                    <th>Type</th>
                                                    <th>Label</th>
                                                    <th>Definition</th>
                                                    <th>Industries</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="dField in dataProv.dataFields">

                                                <tr>
                                                    <td>{{dField.name}}</td>
                                                    <td>{{dField.type}}</td>
                                                    <td><input class="form-control" ng-model="dField.label" type="text"></td>
                                                    <td><input class="form-control" ng-model="dField.definition" type="text"></td>
                                                    <td>
                                                        <select class="form-control" ng-model="dField.industries">
                                                            <!-- ng-options="ind in dField.industries" -->

                                                        </select>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                    <!--<div class="widget-foot">
                                        <div class="clearfix"></div>
                                    </div>-->
                                </div>

                            </div>
                        </div>




                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget worange">
                    <div data-cc-widget-header title="{{title}} : Response" allow-collapse="true"></div>
                    <div class="widget-content user">
                        <div class="row">
                            <div id="1" class="col-md-3">
                                <div>
                                    <label>Username:</label>
                                    <div>
                                        <input type="textbox" class="form-control" />
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <label>Password:</label>
                                    </div>
                                    <div>
                                        <input type="textbox" class="form-control" />
                                    </div>
                                </div>
                                <label>Source URL:</label>
                                <div>
                                    <input type="textbox" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>


