<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="EasyNetQ-Bundle" version="0.28.5.115" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="0.0.0.1" targetFramework="net45" />
</packages>