<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="api/config/baseUrl" value="http://dev.lightstone.apiV2"/>

  <add key="IvidServiceUserName" value="CARSTATS-CARSTATS"/>
  <add key="IvidServiceUserPassword" value="8B5Jk3Q66"/>
  <add key="IvidTitleHolderServiceUserName" value="CARSTATS-CARSTATS"/>
  <add key="IvidTitleHolderServiceUserPassword" value="8B5Jk3Q66"/>
</appSettings>