<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="monitor-event-tracking/queue" connectionString="host=localhost"/>
  </connectionStrings>
  <appSettings>
    <add key="service/config/name" value="DEV_Lightstone_Monitoring_Service"/>
    <add key="service/config/displayName" value="DEV - Lightstone: Monitoring Event Tracking Service"/>
    <add key="service/config/description" value="DEV - Lightstone: Monitoring Event Tracking Service"/>
    <add key="rabbitMQ/config/subscriptionPrefix" value="MONITOR-EVENT-TRACKING"/>
  </appSettings>
</configuration>