<appSettings>
  <add key="service/config/name" value="Lightstone_DataPlatform_Recoveries" />
  <add key="service/config/displayName" value="Lightstone: Data Platform Recoveries Service" />
  <add key="service/config/description" value="Lightstone: Data Platform Recoveries Service" />
  <add key="service/config/username" value="APPSURE-PC5\Rudi" />
  <add key="service/config/password" value="bullseye!12" />
  
  <add key="rabbitmq/hostname" value="localhost"/>
  <add key="rabbitmq/virtualhost" value="/"/>
  <add key="rabbitmq/username" value="guest"/>
  <add key="rabbitmq/password" value="guest"/>

  <add key="errors/dataplatform/workflow/receiver/queue" value="DataPlatform.DataProvider.Receiver"/>
  <add key="errors/dataplatform/workflow/receiver/needHandshake" value="false"/>
  <add key="errors/dataplatform/workflow/receiver/maxNumberOfMessages" value="1000"/>
  <add key="errors/dataplatform/workflow/receiver/messageFilePath" value="D:\DataplatformRecoveries\DataProviders\Receiver"/>
  <add key="errors/dataplatform/workflow/receiver/errorQueueName" value="DataPlatform.DataProvider.Receiver.Error"/>

  <add key="errors/dataplatform/workflow/sender/queue" value="DataPlatform.DataProvider.Sender"/>
  <add key="errors/dataplatform/workflow/sender/needHandshake" value="false"/>
  <add key="errors/dataplatform/workflow/sender/maxNumberOfMessages" value="1000"/>
  <add key="errors/dataplatform/workflow/sender/messageFilePath" value="D:\DataplatformRecoveries\DataProviders\Sender"/>
  <add key="errors/dataplatform/workflow/sender/errorQueueName" value="DataPlatform.DataProvider.Error"/>

  <add key="errors/dataplatform/billing/transactions/queue" value="DataPlatform.Transactions.Billing"/>
  <add key="errors/dataplatform/billing/transactions/needHandshake" value="false"/>
  <add key="errors/dataplatform/billing/transactions/sender/maxNumberOfMessages" value="1000"/>
  <add key="errors/dataplatform/billing/transactions/messageFilePath" value="D:\DataplatformRecoveries\DataProviders\Billing"/>
  <add key="errors/dataplatform/billing/transactions/errorQueueName" value="DataPlatform.Transactions.Billing.Error"/>

  <add key="errors/dataplatform/integration/receiver/queue" value="DataPlatform.Integration.Receiver"/>
  <add key="errors/dataplatform/integration/receiver/needHandshake" value="false"/>
  <add key="errors/dataplatform/integration/receiver/sender/maxNumberOfMessages" value="1000"/>
  <add key="errors/dataplatform/integration/receiver/messageFilePath" value="D:\DataplatformRecoveries\Integrations\Receiver"/>
  <add key="errors/dataplatform/integration/receiver/errorQueueName" value="DataPlatform.Integration.Receiver.Error"/>

  <add key="errors/dataplatform/integration/sender/queue" value="DataPlatform.Integration.Sender"/>
  <add key="errors/dataplatform/integration/sender/needHandshake" value="false"/>
  <add key="errors/dataplatform/integration/sender/sender/maxNumberOfMessages" value="1000"/>
  <add key="errors/dataplatform/integration/sender/messageFilePath" value="D:\DataplatformRecoveries\Integrations\Sender"/>
  <add key="errors/dataplatform/integration/sender/errorQueueName" value="DataPlatform.Integration.Sender.Error"/>
  
</appSettings>