<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.1.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net45" />
  <package id="EasyNetQ" version="0.50.1.392" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="1.0.0.1937" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared.Messaging.Billing" version="1.0.0.1937" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.5.3" targetFramework="net45" />
  <package id="RestSharp" version="104.4.0" targetFramework="net45" />
</packages>