<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SQSServicesSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SQSServicesSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.lightstoneconsumer.co.za/Services/SQSServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="SQSServicesSoap"
                contract="LightsoneSpecificationsServiceReference.SQSServicesSoap"
                name="SQSServicesSoap" />
            <endpoint address="http://www.lightstoneconsumer.co.za/Services/SQSServices.asmx"
                binding="customBinding" bindingConfiguration="SQSServicesSoap12"
                contract="LightsoneSpecificationsServiceReference.SQSServicesSoap"
                name="SQSServicesSoap12" />
        </client>
    </system.serviceModel>
</configuration>