<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="0.0.0.1" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.Shared.BuildingBlocks.Api" version="1.0.0.135" targetFramework="net45" />
  <package id="Nancy" version="0.23.0" targetFramework="net45" />
  <package id="Nancy.Authentication.Stateless" version="0.22.2" targetFramework="net45" />
  <package id="NEventStore" version="5.0.1.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="NHibernate" version="3.3.1.4000" targetFramework="net45" />
  <package id="RestSharp" version="104.4.0" targetFramework="net45" />
</packages>