<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.1" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Common.Logging" version="3.1.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net45" />
  <package id="EasyNetQ" version="0.50.1.392" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Lace.Domain.Core.Entities" version="1.0.0.1537" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Lace.Domain.Core.Requests" version="1.0.0.1537" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Lace.Domain.Infrastructure.EntryPoint" version="1.0.0.1537" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Lace.Domain.Metadata.Entrypoint" version="1.0.0.1537" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.PackageBuilder.Domain.Entities.Enums" version="1.0.0.1224" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="1.0.0.1529" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.Shared.BuildingBlocks" version="1.0.0.1371" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared.BuildingBlocks.AdoNet" version="1.0.0.1371" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Workflow.BuildingBlocks" version="1.0.0.1371" targetFramework="net45" />
  <package id="NEventStore" version="5.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.5.3" targetFramework="net45" />
  <package id="RestSharp" version="105.0.1" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net45" />
</packages>