<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.1.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net45" />
  <package id="EasyNetQ" version="0.47.10.380" targetFramework="net45" />
  <package id="jsreport.Client" version="0.3.0.0" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="1.0.0.1031" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared.Messaging.Billing" version="1.0.0.1073" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.3" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.3" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net45" />
  <package id="Microsoft.OData.Core" version="6.10.0" targetFramework="net45" />
  <package id="Microsoft.OData.Edm" version="6.10.0" targetFramework="net45" />
  <package id="Microsoft.Spatial" version="6.10.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.4.3" targetFramework="net45" />
  <package id="Simple.OData.Client" version="4.3.0" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.3" targetFramework="net45" />
</packages>