<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
    <section name="SecondLevelRetriesConfig" type="NServiceBus.Config.SecondLevelRetriesConfig, NServiceBus.Core" />
  </configSections>
  <connectionStrings>
    <add name="caching/dataprovider/queue" connectionString="host=localhost" />
    <add name="signalR/connection" connectionString="http://dev.monitoring.web.lightstone.co.za/signalr/hubs" />
    <add name="database/monitoring" connectionString="Data Source=.;Initial Catalog=Monitoring;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
    <add name="database/commands" connectionString="Data Source=.;Initial Catalog=DataProvider;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
    <add name="database/billing" connectionString="Data Source=.;Initial Catalog=Billing;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  </connectionStrings>
 <MessageForwardingInCaseOfFaultConfig ErrorQueue="DataPlatform.Monitoring.Write.Error" />
  <AuditConfig QueueName="DataPlatform.Monitoring.Write.Audit" />
  <TransportConfig MaximumConcurrencyLevel="5" MaxRetries="2" MaximumMessageThroughputPerSecond="0" />
  <SecondLevelRetriesConfig Enabled="true" TimeIncrease="00:00:10" NumberOfRetries="2" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="Lightstone.DataPlatform.Lace.Shared.Monitoring.Messages" Namespace="Lace.Shared.Monitoring.Messages.Commands" Endpoint="DataPlatform.Monitoring.Host" />
      <add Assembly="Lightstone.DataPlatform.Shared" Namespace="DataPlatform.Shared.Messaging.Events" Endpoint="DataPlatform.Monitoring.DenormalizerHost" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.5.0" newVersion="3.3.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>