<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.1.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net45" />
  <package id="CommonDomain" version="1.6.0.3" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="1.0.0.2014" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared.BuildingBlocks.AdoNet" version="1.0.0.2009" targetFramework="net45" />
  <package id="NEventStore" version="4.0.0.15" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xUnit.BDD" version="1.9.2.0" targetFramework="net45" />
</packages>