<appSettings>
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="webPages:Enabled" value="false" />
  <add key="userManagementApi/config/baseUrl" value="http://dev.usermanagement.api.lightstone.co.za/"/>
  <add key="billingApi/config/baseUrl" value="http://dev.billing.api.lightstone.co.za/"/>
  <add key="cia/auth" value="http://dev.cia.lightstone.co.za/login"/>
  <!--<add key="umApi/config/authenticationResource" value="authenticate"/>-->
  <add key="IvidUrl" value="authenticate"/>
  <add key="IvidUsername" value="authenticate"/>
  <add key="IvidPassword" value="authenticate"/>
  <add key="IvidTitleHolderUrl" value="authenticate"/>
  <add key="IvidTitleHolderUsername" value="authenticate"/>
  <add key="IvidTitleHolderPassword" value="authenticate"/>
  <add key="ImportDataOnApiStartUp" value="true"/>

  <add key="ivid/username" value="CARSTATS2-CARSTATS" />
  <add key="ivid/password" value="hhbkki3g" />
  <!--t8rv3d14 (QA Password)-->
  <add key="ividtitleholder/username" value="CARSTATS2-CARSTATS" />
  <add key="ividtitleholder/password" value="hhbkki3g" />
  <!--Audatex-->
  <add key="AudatexCompanyCode" value="CARSTATS" />
  <add key="AudatexUserId" value="carstat1" />
  <add key="AudatexPassword" value="Audatex01" />
  <!--Decrypt Drivers License-->
  <add key="drivers/license/decryption/url" value="https://core.conclude.co.za/SignioAPI/api/client/" />
  <add key="drivers/license/decryption/suffix" value="decryptDriversLicenseFromBase64" />
  <add key="drivers/license/decryption/username" value="CustomApp" />
  <add key="drivers/license/decryption/password" value="fK9vtSA88Pxe5C" />
  <add key="drivers/license/decryption/key" value="X-Auth-Token" />
  <add key="drivers/license/decryption/token" value="4be8d746-76d5-44dc-bc0e-4350fbcd232f" />

  <!--Lightstone Business API-->
  <add key="LightstoneBusinessApiEmail" value="murray@lightstone.co.za" />
  <add key="LightstoneBusinessApiPassword" value="Pass!1234" />

  <add key="TokenAuthUserAgentValue" value="Lightstone"/>
  <add key="TokenAuthKeyStorePath" value="D:\"/>

  <add key="LightstonePropertyUserId" value="5a7222e1-ee65-433b-b673-827319e89cbb"/>
  <add key="LightstonePropertyMaxRowsToReturn" value="1"/>

  <add key="lightstone/business/api/username" value="murray@lightstone.co.za" />
  <add key="lightstone/business/api/password" value="Pass!1234" />

  <add key="lightstone/conumser/specifications/accesskey" value="99167DC9-A09D-4582-AECA-AE5D42B7F201" />

  <add key="pcubed/ezscore/url" value="https://www.consumerview.co.za/Secure/Consumerview/" />
  <add key="pcubed/ezscore/username" value="LSNonCPAAuto" />
  <add key="pcubed/ezscore/password" value="32a33df6e31419b895720fa644d9e178" />

  <!-- Logging -->
  <add key="workflow/bus/serviceName" value="Lightstone_Workflow_Shared_Bus_Service"/>
  <add key="workflow/bus/serviceDisplayName" value="Lightstone: Workflow Shared Bus Service"/>
  <add key="workflow/bus/serviceDescription" value="Lightstone: Workflow Shared Bus Service"/>
  <!-- Logging -->

  <!--DataPlatform.Shared.Enums.SystemName-->
  <add key="tokenizer/logging/systemName/enum" value="PackageBuilder"/>
  <add key="shared/logging/logToBus" value="false"/>
  <!--DataPlatform.Shared.Enums.SystemName-->
  
  <add key="xds/api/username" value="light1" />
  <add key="xds/api/password" value="beybzn" />
</appSettings>