<appSettings>
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="webPages:Enabled" value="false" />
  <add key="umApi/config/baseUrl" value="http://dev.lightstone.umapiV2"/>
  <add key="umApi/config/authenticationResource" value="authenticate"/>
  <add key="IvidUrl" value="authenticate"/>
  <add key="IvidUsername" value="authenticate"/>
  <add key="IvidPassword" value="authenticate"/>
  <add key="IvidTitleHolderUrl" value="authenticate"/>
  <add key="IvidTitleHolderUsername" value="authenticate"/>
  <add key="IvidTitleHolderPassword" value="authenticate"/>
  <add key="ImportDataOnApiStartUp" value="true"/>

  <add key="IvidServiceUserName" value="CARSTATS-CARSTATS" />
  <add key="IvidServiceUserPassword" value="8B5Jk3Q66" />
  <!--t8rv3d14 (QA Password)-->
  <add key="IvidTitleHolderServiceUserName" value="CARSTATS-CARSTATS" />
  <add key="IvidTitleHolderServiceUserPassword" value="8B5Jk3Q66" />
  <!--Audatex-->
  <add key="AudatexCompanyCode" value="CARSTATS" />
  <add key="AudatexUserId" value="carstat1" />
  <add key="AudatexPassword" value="Audatex01" />
  <!--Decrypt Drivers License-->
  <add key="DecryptyDriversLicenseApiUrl" value="http://stage.conclude.co.za/SignioAPI/api/client/" />
  <add key="DecryptyDriversLicenseApiOperation" value="decryptDriversLicenseFromBase64" />
  <add key="DecryptyDriversLicenseApiUsername" value="CustomApp" />
  <add key="DecryptyDriversLicenseApiPassword" value="7qDwUsXXGjEFN9" />
  <add key="DecryptyDriversLicenseoApiXAuthToken" value="42f427a8-4987-4be4-af31-f4289acc3842" />

  <!--Lightstone Business API-->
  <add key="LightstoneBusinessApiEmail" value="murray@lightstone.co.za" />
  <add key="LightstoneBusinessApiPassword" value="Pass!1234" />

  <add key="TokenAuthUserAgentValue" value="Lightstone"/>
  <add key="TokenAuthKeyStorePath" value="D:\"/>
</appSettings>