<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <add name="packageBuilder"
       connectionString="#{PackageBuilder_ds}"
       providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="packageBuilderCommandStore"
      connectionString="Data Source=.;Database=PackageBuilderCommandStore;Integrated Security=SSPI;"
      providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="Lightstone"
       connectionString="#{PackageBuilder_ds}"
       providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="Rgt"
       connectionString="#{PackageBuilder_ds}"
       providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="RgtVin"
       connectionString="#{PackageBuilder_ds}"
       providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>

  <add name="workflow/dataprovider/queue" connectionString="host=localhost" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="NServiceBus/Transport" connectionString="host=localhost" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="lace/source/database/auto-car-stats" connectionString="#{Auto_Carstats_ds}" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="lace/source/database/ls-corporate-auto" connectionString="Data Source=.;Initial Catalog=LS_Corporate_Auto;Integrated Security=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="lace/source/database/integrations/bmw" connectionString="#{Financed-Interests_Ds}" xdt:Transform="Replace" xdt:Locator="Match(name)" />

</connectionStrings>