<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IvidTitleHolderServiceUserName" value="CARSTATS-CARSTATS"/>
    <add key="IvidTitleHolderServiceUserPassword" value="8B5Jk3Q66"/>
    <!--t8rv3d14 (QA Password)-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IvidTitleholderServiceSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="IvidTitleholderServiceSoap111" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://secure1.ubiquitech.co.za:443/ivid/ws/"
        binding="basicHttpBinding" bindingConfiguration="IvidTitleholderServiceSoap11"
        contract="IvidTitleHolderServiceReference.IvidTitleholderService"
        name="IvidTitleholderServiceSoap11" />
    </client>
  </system.serviceModel>
</configuration>