<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Web.NancyFx</title>
    
    <style type="text/css">

        body {
            text-align: center;
        }

    </style>
</head>
<body>
	<img src="~/Content/nancy-logo.png" alt="Nancy logo" /><br />
    This view was rendered using the Nancy Razor view engine
    
    <form action="http://dev.api" method="POST">
        <input type="text" />
        <input type="submit" value="Search" />
        <button id="test"></button>
    </form>
    <script src="~/Scripts/jquery-1.5.2.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>

    <script type="text/javascript">
        $(function () {
            var options = {
                target: '#output1',   // target element(s) to be updated with server response
                //beforeSubmit: showRequest,
                success: showResponse,
                //crossDomain: true,
                //contentType: 'application/json',
                dataType: 'json',
                //headers: { 'Authorization': 'Basic xxxx' },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "ApiKey 4E7106BA-16B6-44F2-AF4C-D1C411440F8E");
                    //xhr.setRequestHeader("AJAX", "true");
                }
            };

            function showRequest(formData, jqForm, options, settings) {
                return true;
            }

            function showResponse(responseText, statusText, xhr, $form) {
                alert('status: ' + statusText + '\n\nresponseText: \n' + responseText +
                    '\n\nThe output div should have already been updated with the responseText.');
            }
            $('form').ajaxForm(options);
        });

        $("#test").click(function () {
            $.ajax({
                //url: 'http://dev.api',
                url: 'http://dev.um.api/authenticate',
                dataType: 'json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "ApiKey 4E7106BA-16B6-44F2-AF4C-D1C411440F8E");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    reset();
                    onError('Invalid username or password. Please try again.');
                    $('#loginform #user_login').focus();
                }
            });
        });
        
    </script>

</body>
</html>
