.table-toolbar {
    float: left;
}

.user-alias ul {
    list-style: none;
}

.content-header {
    padding-left: 0;
    padding-bottom: 15px;
}

.content {
    padding-top: 0;
}

.dataTables_filter {
    float: right;
}
