<appSettings>
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="webPages:Enabled" value="false" />
  <add key="umApi/config/baseUrl" value="http://dev.um.api"/>
  <add key="umApi/config/authenticationResource" value="authenticate"/>

  <add key="IvidServiceUserName" value="CARSTATS-CARSTATS"/>
  <add key="IvidServiceUserPassword" value="8B5Jk3Q66"/>
  <add key="IvidTitleHolderServiceUserName" value="CARSTATS-CARSTATS"/>
  <add key="IvidTitleHolderServiceUserPassword" value="8B5Jk3Q66"/>
</appSettings>