<div class="view indent" ng-controller="dataProviderByAggregateController">
    <div class="container">
        <header>
            <h3>
                <span class="glyphicon-file"></span>Data Providers by Aggregate
            </h3>
        </header>
        <div class="container">
            <div class="row gridContainer">
                <div class="table-responsive">
                    <table class="table table-striped table-condensed monitoring-table">
                        <thead>
                        <tr>
                            <th>Aggregate Id</th>
                            <th>Data Provider</th>
                            <th>Message</th>
                            <th>Category</th>
                            <th>Payload</th>
                            <th>Metadata</th>
                            <th>Date</th>
                            <th>Time Stamp</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="dataProvider in vm.dataProviders" class="repeat-animation">
                            <td><a href="#/dataproviderbyaggregate/{{dataProvider.AggregateId}}">{{dataProvider.AggregateId}}</a></td>
                            <td><a href="#/dataproviderbytype/{{dataProvider.DataProviderId}}">{{dataProvider.DataProvider}}</a></td>
                            <td>{{dataProvider.Message}}</td>
                            <td><a href="#/dataproviderbycategory/{{dataProvider.CategoryId}}">{{dataProvider.Category}}</a></td>
                            <td>{{dataProvider.Payload}}</td>
                            <th ng-show="dataProvider.IsPerformance">{{dataProvider.ElapsedTime}}</th>
                            <td ng-show="!dataProvider.IsPerformance">{{dataProvider.MetaData}}</td>
                            <td>{{dataProvider.Date}}</td>
                            <td>{{dataProvider.TimeStamp}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row show-hide-animation" ng-show="vm.dataProviders.length == 0">
                <div class="col-md-12">
                    <h4>No data provider monitoring information found found</h4>
                </div>
            </div>
        </div>
        <div class="row" ng-show="vm.dataProviders.length > 0">
            <div class="col-md-12">
                <div data-pagination
                     data-total-items="vm.totalRecords"
                     data-page="vm.currentPage"
                     data-items-per-page="vm.pageSize"
                     data-boundary-links="true"
                     class="pagination-sm"></div>
                <h5>Showing {{ vm.totalRecords }} of {{ vm.totalRecords}} total data providers</h5>
            </div>
        </div>
    </div>
</div>