<appSettings>
  <add key="webPages:Enabled" value="false" />
  <add key="vs:EnableBrowserLink" value="true" />
  <add key="pbApi/config/baseUrl" value="http://dev.packagebuilder.api.lightstone.co.za/" />
  <add key="userManagementApi/config/baseUrl" value="http://dev.usermanagement.api.lightstone.co.za/"/>
  <add key="billing/config/baseUrl" value="http://dev.billing.api.lightstone.co.za/" />
  <add key="monitoring/config/baseUrl" value="http://dev.monitoring.web.lightstone.co.za/" />
  <add key="limweb/config/baseUrl" value="http://dev.lim.web.lightstone.co.za/" />
  <add key="umApi/config/redisServers" value="localhost" />
  <add key="ImportDataOnApiStartUp" value="true"/>
  <add key="TokenAuthUserAgentValue" value="Lightstone"/>
  <add key="TokenAuthKeyStorePath" value="D:\"/>

  <!--DataPlatform.Shared.Enums.SystemName-->
  <add key="tokenizer/logging/systemName/enum" value="CentralInterfuseApplication"/>
  <!--DataPlatform.Shared.Enums.SystemName-->
</appSettings>