@using CentralInterfuseApplication.Api.ViewModels
@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="row">
    @Html.Partial("Shared/Tile", new SystemViewModel("http://dev.lightstone.usermanagement.api", "User Management", "", "fa fa-user", "blue"))
    @Html.Partial("Shared/Tile", new SystemViewModel("http://dev.lightstone.packagebuilder.api", "Package Builder", "", "fa fa-gift", "purple"))
    @Html.Partial("Shared/Tile", new SystemViewModel("http://dev.lightstone.packagebuilder.api", "Billing", "", "fa fa-dollar", "green"))
    @Html.Partial("Shared/Tile", new SystemViewModel("http://dev.lightstone.packagebuilder.api", "Reporting", "", "fa fa-bar-chart-o", "red"))
</div>


