@using System
@using UserManagement.Api.Modules
@using UserManagement.Api.ViewModels
@using UserManagement.Domain.Dtos
@*@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LookupViewModel>*@

@Html.Partial("Shared/PageHeading", new PageHeadingViewModel("Customers", ""))

<table id="customers_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Customer Name</th>
            <th>Account Owner Name</th>
            <th></th>
        </tr>
    </thead>
</table>

<script>
    var table = $("#customers_table").DataTable({
        dom: '<"table-toolbar">frtip',
        retrieve: true,
        ajax: "/Customers",
        columns: [
            { data: "id", visible: false },
            { data: "name" },
            { data: "accountOwnerName" },
            { data: null, defaultContent: "<button class='btn btn-primary entity-edit' data-url='/Customers/'>Edit</button>" }
        ]
    });

    $("div.table-toolbar").html("<button class='btn btn-default entity-add' data-url='/Customers/Add'>Add</button>");
</script>

@*@section Scripts{
    <script>
        $(function () {
            var $div = $("#container");
            //$div.html(responseText);
            $div.find("script").each(function (i) {
                eval($(this).text());
            });
            @*var table = $("#customers_table").DataTable({
                dom: '<"table-toolbar">frtip',
                ajax: "/Customers",
                columns: [
                    { data: "id", visible: false },
                    { data: "customerName" },
                    { data: "accountOwnerName" },
                    { data: null, defaultContent: "<button class='btn btn-primary'>Edit</button>" }
                ]
            });

            $("div.table-toolbar").html("<button class='btn btn-default toolbar-add' data-url='/Customers/@Guid.Empty'>Add</button>");

            $('#customers_table tbody').on('click', 'button', function () {
                var data = table.row($(this).parents('tr')).data();
                alert(data.id + " - " + data.name);
            });*@
@*});
    </script>*@
@*}*@
