@using UserManagement.Api.ViewModels
@*@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LookupViewModel>*@

@Html.Partial("Shared/PageHeader", new HeaderViewModel("Customers", ""))

<div class="box">
    
    <table id="table"></table>

</div>
<script>

    $('#table').bootstrapTable({
        url: '/Customers',
        search: true,
        showRefresh: true,
        showColumns: true,
        pagination: true,
        pageNumber: 1,
        pageSize: 10,
        pageList: [10, 25, 50, 100, 'All'],
        columns: [{
            field: 'id',
            title: 'Item ID',
            visible: false
        }, {
            field: 'name',
            title: 'Customer Name',
            sortable: true
        }, {
            field: 'accountOwnerName',
            title: 'Account Owner Name'
            //formatter: gridUsersFormatter,
            //events: userGridActionEvents
        }, {
            field: 'type',
            title: 'User Type',
            sortable: true
        }, {
            field: 'owner',
            title: 'Owner',
            sortable: true
        }, {
            field: 'createdDate',
            title: 'Created Date',
            //formatter: gridProductsFormatter,
            //events: productGridActionEvents
        }, {
            field: 'platformState',
            title: 'Platform State',
            //formatter: gridTransactionsFormatter
        }, {
            field: 'commercial State',
            title: 'User Type',
            sortable: true
        }]
    });

    UserManagement.overrideDataTablesStyling();
</script>