@using UserManagement.Api.ViewModels
@*@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LookupViewModel>*@

@Html.Partial("Shared/PageHeader", new HeaderViewModel("Customers", ""))

<div class="box">

    <div class="box-header"></div>
    <table id="table"></table>

</div>
<script>

    $('#table').bootstrapTable({
        url: '/Customers',
        search: true,
        showRefresh: true,
        showColumns: true,
        pagination: true,
        pageNumber: 1,
        pageSize: 10,
        pageList: [10, 25, 50, 100, 'All'],
        columns: [{
            field: 'id',
            title: 'Item ID',
            visible: false
        }, {
            field: 'name',
            title: 'Customer Name',
            sortable: true
        }, {
            field: 'accountOwnerName',
            title: 'Account Owner Name'
            //formatter: gridUsersFormatter,
            //events: userGridActionEvents
        }, {
            field: 'created',
            title: 'Created Date',
            //formatter: gridProductsFormatter,
            //events: productGridActionEvents
        }, {
            field: 'modified',
            title: 'Modified Date',
            sortable: true
        }, {
            field: 'platformStatusValue',
            title: 'Platform State',
            srtable: true
            //formatter: platformFormatter
        }, {
            field: 'commercialStateValue',
            title: 'Commercial State',
            sortable: true
            //formatter: commercialFormatter
        }, {
            field: '',
            title: '',
            formatter: gridActionFormatter

        }]
    });

    //function platformFormatter(value, row, index) {

    //    var state = "";

    //    $.ajax({
    //        async: false,
    //        type: 'GET',
    //        url: '/ValueEntities/Lookup/' + row.platformStatusId,
    //        success: function (response) {
    //            //callback

    //            state = response.data.value;
    //        }
    //    });

    //    return state;
    //}

    //function commercialFormatter(value, row, index) {

    //    var state = "";

    //    $.ajax({
    //        async: false,
    //        type: 'GET',
    //        url: '/ValueEntities/Lookup/' + row.commercialStateId,
    //        success: function (response) {
    //            //callback

    //            state = response.data.value;
    //        }
    //    });

    //    return state;
    //}

    function gridActionFormatter(value, row, index) {

        return [
            '<div class="row">' +
                        '<div id="indexEdit" class="col-lg-2"><a class="btn btn-primary entity-edit" href="#/Customers/' + row.id + '">Edit</a></div>' +
                        '<div id="indexDelete" class="col-lg-1"><a class="btn btn-danger entity-remove" href="#/Customers/Delete/' + row.id + '">Delete</a></div>' +
                        '</div>'
        ].join('');
    };

    $("<a>", { "class": "btn btn-default entity-add pull-left", href: "#/Customers/Add", text: "Add" }).appendTo($("div.box-header"));

    UserManagement.overrideDataTablesStyling();
</script>