<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="monitor-event-tracking/queue" connectionString="host=localhost"/>
  </connectionStrings>
  <appSettings>
    <add key="rabbitMQ/config/subscriptionPrefix" value="MONITOR-EVENT-TRACKING"/>
  </appSettings>
</configuration>