<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="host=localhost;username=guest;password=guest" name="LaceEventBus"/>
  </connectionStrings>
  <appSettings>
    <add key="rabbitMQ/config/subscriptionPrefix" value="LACE_SUBSCRIPTION_PREFIX"/>
  </appSettings>
</configuration>