<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Lace.Domain.Core.Entities" version="1.0.0.808" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.PackageBuilder.Domain.Entities.Contracts" version="1.0.0.841" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.PackageBuilder.TestObjects" version="1.0.0.808" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="1.0.0.843" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared.Messaging" version="1.0.0.808" targetFramework="net45" />
  <package id="NEventStore" version="5.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net45" />
  <package id="NServiceBus" version="5.2.0" targetFramework="net45" />
  <package id="NServiceBus.NHibernate" version="6.1.0" targetFramework="net45" />
  <package id="NServiceBus.RabbitMQ" version="2.1.1" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.4.3" targetFramework="net45" />
</packages>