<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="MainModuleUnitOfWork"
         connectionString="metadata=res://*/Model.MainModuleDataModel.csdl|res://*/Model.MainModuleDataModel.ssdl|res://*/Model.MainModuleDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLExpress;Integrated Security=False;User ID=sa;Password=;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--RealAppContext - Real Container-->
    <!--FakeAppContext - Fake Container-->
    <!--<add key="defaultIoCContainer" value="RealAppContext" />-->
    <add key="defaultIoCContainer" value="RealAppContext" />

  </appSettings>

</configuration>