<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsVinCheckSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.autostats.co.za/Service/wsVinCheck.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsVinCheckSoap"
                contract="RgtVinServiceReference.wsVinCheckSoap" name="wsVinCheckSoap" />
        </client>
    </system.serviceModel>
</configuration>