<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Common.Logging" version="3.0.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net45" />
  <package id="EasyNetQ" version="0.35.6.302" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="1.0.0.906" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.Shared.BuildingBlocks" version="1.0.0.868" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Workflow.BuildingBlocks" version="1.0.0.868" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.3.2" targetFramework="net45" />
</packages>