@using Billing.Api.ViewModels
@Html.Partial("Shared/PageHeader", new HeaderViewModel("M.I.", ""))

<div class="box">

    <table id="table"></table>

    <h2 id="detail-table-header"></h2>
    <table id="detail"></table>

    <script>

        $('#table').bootstrapTable({
            url: "/MI",
            search: true,
            showRefresh: true,
            showColumns: true,
            pagination: true,
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 25, 50, 100, 'All'],
            columns: [{
                field: 'id',
                title: 'Item ID',
                visible: false
            }, {
                field: 'revenue',
                title: 'Revenue (Total)',
                sortable: true
            }, {
                field: 'coS',
                title: 'Cost Of Sale (Total)',
                sortable: true,
                //formatter: gridCOSFormatter
            }, {
                field: 'nonBillable',
                title: 'Non-Billable (Total)',
                sortable: true
            }]
        });


        $.get("/MI")
        .done(function (data) {
            console.log(data);
        });

        Billing.overrideDataTablesStyling();
    </script>
</div>