@using Billing.Api.ViewModels
@Html.Partial("Shared/PageHeader", new HeaderViewModel("M.I.", ""))

<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Filter Options:</h3>

                    <div style="margin-top: 10px;">
                        <button id="filterMIData" type="button" class="btn btn-primary" style="float: right;">Filter</button>
                        <div style="display: none">
                            <div id="startDateFilter"></div>
                            <div id="endDateFilter"></div>
                        </div>

                        <div id="reportrange" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; float: left;">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span></span> <b class="caret"></b>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-briefcase" id="basic-addon1"></span>
                                <input id="client_customer" type="text" class="form-control" placeholder="Client / Customer" aria-describedby="basic-addon1">
                            </div>
                        </li>
                        <li>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>
                                <input id="username" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                            </div>
                        </li>
                        <li>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-tag" id="basic-addon1"></span>
                                <input id="product_type" type="text" class="form-control" placeholder="Product type" aria-describedby="basic-addon1">
                            </div>
                        </li>
                        <li>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-bell" id="basic-addon1"></span>
                                <input id="account_manager" type="text" class="form-control" placeholder="Account Manager" aria-describedby="basic-addon1">
                            </div>
                        </li>
                        <li>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-pushpin" id="basic-addon1"></span>
                                <input id="industry" type="text" class="form-control" placeholder="Industry" aria-describedby="basic-addon1">
                            </div>
                        </li>
                    </ul>
                </div><!-- /.box-body -->
            </div><!-- /. box -->

            <div class="box box-solid">
                <!-- Donut chart -->
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-bar-chart-o"></i>
                        <h3 class="box-title">Donut Chart</h3>
                    </div>
                    <div class="box-body">
                        <div id="donut-chart" style="height: 300px;"></div>
                    </div><!-- /.box-body-->
                </div><!-- /.box -->
            </div><!-- /.box -->

        </div><!-- /.col -->
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <p id="detail-table-header" class="box-title">Overview</p>
                </div><!-- /.box-header -->

                <table id="table"></table>

            </div><!-- /. box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->

<script>

    Billing.MIDashboard();

</script>