@using Billing.Api.ViewModels
@Html.Partial("Shared/PageHeader", new HeaderViewModel("Stage Billing", ""))

<div class="box">

    <table id="table"></table>

    <h2 id="detail-table-header"></h2>
    <table id="detail"></table>

    <script src="~/Scripts/app/stage_data.js"></script>

    <script>

        $('#table').bootstrapTable({
            url: '/StageBilling',
            search: true,
            showRefresh: true,
            showColumns: true,
            pagination: true,
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 25, 50, 100, 'All'],
            columns: [
                {
                    field: 'id',
                    title: 'Customer ID',
                    visible: false
                }, {
                    field: 'customerName',
                    title: 'Customer / Client Name',
                    editable: {
                        type: 'text',
                        name: 'customerName',
                        placement: 'right',
                        params: function(params) {
                            //originally params contain pk, name and value
                            params.Id = window.editRow.id;
                            params.originalValue = window.editRow.customerName;
                            
                            return params;
                        },
                        url: '/StageBilling/CustomerClient/Transaction/Update',
                        title: 'Enter Customer / Client Name',
                        ajaxOptions: {
                            dataType: 'json'
                        },
                        success: function(response, newValue) {
                            if (!response) {
                                return "Unknown error!";
                            }

                            if (response.status === 500) {
                                return 'Service unavailable. Please try later.';
                            }

                            if (response.success === false) {

                                $('#table').bootstrapTable('refresh', { silent: true });
                                return response.msg;
                            }

                            return null;
                        }
                    },
                    sortable: true
                }, {
                    field: 'users',
                    title: '# Users',
                    formatter: gridUsersFormatter,
                    events: userGridActionEvents
                }, {
                    field: 'type',
                    title: 'Customer / Client Type',
                    sortable: true
                }, {
                    field: 'owner',
                    title: 'Owner',
                    sortable: true
                }, {
                    field: 'products',
                    title: '# Packages',
                    formatter: gridPackagesFormatter,
                    events: packageGridActionEvents
                }, {
                    field: 'transactions',
                    title: '# Transactions',
                    formatter: gridTransactionsFormatter
                }, {
                    field: 'billedTransactions',
                    title: '# Billed Transactions',
                    formatter: gridBilledTransactionsFormatter
                }, {
                    field: 'invoice',
                    formatter: invoiceFormatter,
                    events: invoiceActionEvents
                }
            ]
        }).on('click-row.bs.table', function (e, row, $element) {
            window.editRow = row;
        });

        Billing.overrideDataTablesStyling();

        $(document).ready(function () {

            $(function () {

            });
        });

    </script>

</div>

<!-- Invoice Modal -->
<div class="modal fade" id="invoice-modal" tabindex="-1" role="dialog" aria-labelledby="invoiceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body invoice-render"><div class="te"></div></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Record Edit Modal -->
<div class="modal fade" id="recordEdit-modal" tabindex="-1" role="dialog" aria-labelledby="recordEditLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body recordEdit-render">
                Record Edit
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Package Edit Modal -->
<div class="modal fade" id="packageEdit-modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body packageEdit-render">
                Package Edit
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- User Transaction Edit Modal -->
<div class="modal fade" id="userTransEdit-modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body userTransactionedit-render">

            </div>
            <div class="modal-footer">
                @*<button id="getData" class="btn btn-default">getData</button>*@
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="update-userTransactions" type="button" class="btn btn-primary">Save changes</button>
            </div>
            <script>
                var $button = $('#getData');

                $(function () {
                    $button.click(function () {
                        console.log(JSON.stringify($('#userTransEdit-table').bootstrapTable('getData')));
                    });

                    $('#update-userTransactions').click(function () {

                        var obj = { "transactions": $('#userTransEdit-table').bootstrapTable('getData') };

                        $.post(apiEndpoint + '/StageBilling/User/Transactions/Update', JSON.stringify(obj))
                            .success(function (response) {
                                
                                $('#table').bootstrapTable('refresh', { silent: true });
                            });
                    });
                });
            </script>
        </div>
    </div>
</div>
