<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyNetQ" version="0.32.2.271" targetFramework="net45" />
  <package id="EasyNetQ-Bundle" version="0.28.5.115" targetFramework="net45" />
  <package id="EventStore.Client" version="2.0.2" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.EventTracking.Domain.Persistence" version="0.0.0.6" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Monitoring.Consumer.Lace" version="0.0.0.6" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="0.0.0.6" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.3.0" targetFramework="net45" />
</packages>