<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="PackageBuilderUnitOfWork"
         connectionString="metadata=res://*/Model.PackageBuilderDataModel.csdl|res://*/Model.PackageBuilderDataModel.ssdl|res://*/Model.PackageBuilderDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\sqlexpress;Initial Catalog=LightstoneAppDatabase;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False&quot;"
         providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>