<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="service/config/name" value="Lightstone_Workflow_Billing_Cache_Service"/>
  <add key="service/config/displayName" value="Lightstone: Workflow Billing Cache Service"/>
  <add key="service/config/description" value="Lightstone: Workflow Billing Cache Service"/>
  <add key="ClientSettingsProvider.ServiceUri" value="" />
  <add key="rabbitMQ/config/subscriptionPrefix" value="BILLING"/>

  <!-- Logging -->
  <add key="workflow/bus/serviceName" value="Lightstone_Workflow_Shared_Bus_Service"/>
  <add key="workflow/bus/serviceDisplayName" value="Lightstone: Workflow Shared Bus Service"/>
  <add key="workflow/bus/serviceDescription" value="Lightstone: Workflow Shared Bus Service"/>
  <!-- Logging -->
</appSettings>