<appSettings>
  <!--<add key="webPages:Enabled" value="false" />-->
  <add key="url/cia" value="http://dev.cia.lightstone.co.za/" />
  <add key="TokenAuthUserAgentValue" value="Lightstone"/>
  <add key="TokenAuthKeyStorePath" value="D:\"/>
  <add key="owin:AutomaticAppStartup" value="true"/>

  <!--DataPlatform.Shared.Enums.SystemName-->
  <add key="tokenizer/logging/systemName/enum" value="Monitoring"/>
  <add key="shared/logging/logToBus" value="false"/>
  <!--DataPlatform.Shared.Enums.SystemName-->
</appSettings>