<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="caching/dataprovider/queue" connectionString="host=localhost" />
  <add name="database/monitoring" connectionString="Data Source=.;Initial Catalog=Monitoring;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  <add name="database/commands" connectionString="Data Source=.;Initial Catalog=DataProvider;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  <add name="database/billing" connectionString="Data Source=.;Initial Catalog=Billing;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
</connectionStrings>