<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="packageBuilder/database" connectionString="Url = http://localhost:8080; Database = NEventStore"/>-->
  <add name="packageBuilder" 
       connectionString="Data Source=.;Database=PackageBuilderTest;Integrated Security=SSPI;" 
       providerName="System.Data.SqlClient" />
  <add name="packageBuilderCommandStore"
      connectionString="Data Source=.;Database=PackageBuilderCommandStore;Integrated Security=SSPI;"
      providerName="System.Data.SqlClient" />
  <add name="Lightstone"
       connectionString="Data Source=.;Database=PackageBuilder;Integrated Security=SSPI;"
       providerName="System.Data.SqlClient" />
  <add name="Rgt"
       connectionString="Data Source=.;Database=PackageBuilder;Integrated Security=SSPI;"
       providerName="System.Data.SqlClient" />
  <add name="RgtVin"
       connectionString="Data Source=.;Database=PackageBuilder;Integrated Security=SSPI;"
       providerName="System.Data.SqlClient" />

  <add name="workflow/redis/cache" connectionString="localhost" />
</connectionStrings>
