<appSettings>
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="webPages:Enabled" value="false" />
  <!--<add key="umApi/config/baseUrl" value="http://dev.lightstone.umapiv2/"/>-->
  <add key="pbApi/config/baseUrl" value="http://dev.packagebuilder.api.lightstone.co.za/"/>
  <add key="userManagementApi/config/baseUrl" value="http://dev.usermanagement.api.lightstone.co.za/"/>
  <add key="billing/url" value="http://dev.billing.api.lightstone.co.za/" />
  <add key="billing/apiKey" value="1234567890" />

  <add key="TokenAuthUserAgentValue" value="Lightstone"/>
  <add key="TokenAuthKeyStorePath" value="D:\"/>

  <add key="api/bus/queue/name" value="DataPlatform.Api" />
  <add key="api/bus/exchange/name" value="DataPlatform.Api" />
  
  <add key="maintenanceMode" value="false" />

  <!-- Logging -->
  <add key="workflow/bus/serviceName" value="Lightstone_Workflow_Shared_Bus_Service"/>
  <add key="workflow/bus/serviceDisplayName" value="Lightstone: Workflow Shared Bus Service"/>
  <add key="workflow/bus/serviceDescription" value="Lightstone: Workflow Shared Bus Service"/>
  <!-- Logging -->

  <!--DataPlatform.Shared.Enums.SystemName-->
  <add key="tokenizer/logging/systemName/enum" value="Api"/>
  <add key="shared/logging/logToBus" value="true"/>
  <!--DataPlatform.Shared.Enums.SystemName-->
</appSettings>