<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="userManagementApi/config/baseUrl" value="#{Lightstone.dp.um.api.url}" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  <add key="pbApi/config/baseUrl" value="#{Lightstone.dp.pb.api.url}" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  <!--<add key="billing/apiKey" value="1234567890" xdt:Locator="Match(key)" xdt:Transform="Replace" />-->
  <add key="IvidServiceUserName" value="CARSTATS-CARSTATS" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  <add key="IvidServiceUserPassword" value="8B5Jk3Q66" />
  <!--t8rv3d14 (QA Password)-->
  <add key="IvidTitleHolderServiceUserName" value="CARSTATS-CARSTATS" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  <add key="IvidTitleHolderServiceUserPassword" value="8B5Jk3Q66" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  <!--Audatex-->
  <add key="AudatexCompanyCode" value="CARSTATS" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  <add key="AudatexUserId" value="carstat1" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  <add key="AudatexPassword" value="Audatex01" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  <!--Decrypt Drivers License-->
  <add key="DecryptyDriversLicenseApiUrl" value="http://stage.conclude.co.za/SignioAPI/api/client/" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  <add key="DecryptyDriversLicenseApiOperation" value="decryptDriversLicenseFromBase64" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  <add key="DecryptyDriversLicenseApiUsername" value="CustomApp" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  <add key="DecryptyDriversLicenseApiPassword" value="7qDwUsXXGjEFN9" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  <add key="DecryptyDriversLicenseoApiXAuthToken" value="42f427a8-4987-4be4-af31-f4289acc3842" xdt:Locator="Match(key)" xdt:Transform="Replace" />
</appSettings>