<appSettings>
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="webPages:Enabled" value="false" />
  <!--<add key="umApi/config/baseUrl" value="http://dev.lightstone.umapiv2/"/>-->
  <add key="pbApi/config/baseUrl" value="http://dev.lightstone.packagebuilder.api/"/>
  <add key="userManagementApi/config/baseUrl" value="http://dev.lightstone.usermanagement.api/"/>
  <add key="billing/url" value="http://dev.lightstone.billing.api" />
  <add key="billing/apiKey" value="1234567890" />
  <add key="IvidServiceUserName" value="CARSTATS-CARSTATS" />
  <add key="IvidServiceUserPassword" value="8B5Jk3Q66" />
  <!--t8rv3d14 (QA Password)-->
  <add key="IvidTitleHolderServiceUserName" value="CARSTATS-CARSTATS" />
  <add key="IvidTitleHolderServiceUserPassword" value="8B5Jk3Q66" />
  <!--Audatex-->
  <add key="AudatexCompanyCode" value="CARSTATS" />
  <add key="AudatexUserId" value="carstat1" />
  <add key="AudatexPassword" value="Audatex01" />
  <!--Decrypt Drivers License-->
  <add key="DecryptyDriversLicenseApiUrl" value="http://stage.conclude.co.za/SignioAPI/api/client/" />
  <add key="DecryptyDriversLicenseApiOperation" value="decryptDriversLicenseFromBase64" />
  <add key="DecryptyDriversLicenseApiUsername" value="CustomApp" />
  <add key="DecryptyDriversLicenseApiPassword" value="7qDwUsXXGjEFN9" />
  <add key="DecryptyDriversLicenseoApiXAuthToken" value="42f427a8-4987-4be4-af31-f4289acc3842" />
</appSettings>