<appSettings>
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="webPages:Enabled" value="false" />
  <add key="umApi/config/baseUrl" value="http://dev.lightstone.umapiV2"/>
  <add key="pbApi/config/baseUrl" value="http://dev.lightstone.packagebuilder.api"/>
  <add key="IvidServiceUserName" value="CARSTATS-CARSTATS" />
  <add key="IvidServiceUserPassword" value="8B5Jk3Q66" />
  <!--t8rv3d14 (QA Password)-->
  <add key="IvidTitleHolderServiceUserName" value="CARSTATS-CARSTATS" />
  <add key="IvidTitleHolderServiceUserPassword" value="8B5Jk3Q66" />
  <!--Audatex-->
  <add key="AudatexCompanyCode" value="CARSTATS" />
  <add key="AudatexUserId" value="carstat1" />
  <add key="AudatexPassword" value="Audatex01" />
  <!--RABBIT MQ-->
  <!--<add key="rabbitMQ/config/subscriptionPrefix" value="LACE_SOURCES_SUBSCRIPTION_PREFIX"/>-->
  <add key="rabbitMQ/config/subscriptionPrefix" value="MONITOR-EVENT-TRACKING" />
</appSettings>