<connectionStrings>
  <add name="NServiceBus/Transport" connectionString="host=localhost" />
  <add name="lace/source/database/auto-car-stats" connectionString="Data Source=dev;Initial Catalog=Auto_Carstats;Integrated Security=True;" />
  <add name="lace/source/database/ls-corporate-auto" connectionString="Data Source=dev;Initial Catalog=LS_Corporate_Auto;Integrated Security=True;" />
</connectionStrings>