<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Common.Logging" version="3.0.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Billing.Api.Connector" version="1.0.0.652" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Lace.Domain.Core" version="1.0.0.655" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Lace.Domain.Core.Requests" version="1.0.0.655" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Lace.Domain.Infrastructure.EntryPoint" version="1.0.0.655" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.PackageBuilder.Domain.Entities" version="1.0.0.655" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="1.0.0.655" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.Shared.BuildingBlocks.Api" version="1.0.0.653" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared.Messaging" version="1.0.0.655" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net45" />
  <package id="Nancy" version="1.0.0" targetFramework="net45" />
  <package id="Nancy.Authentication.Stateless" version="0.22.2" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="1.0.0" targetFramework="net45" />
  <package id="NEventStore" version="5.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net45" />
  <package id="NServiceBus" version="5.0.1" targetFramework="net45" />
  <package id="NServiceBus.NHibernate" version="6.0.0" targetFramework="net45" />
  <package id="NServiceBus.RabbitMQ" version="2.0.1" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.3.5" targetFramework="net45" />
  <package id="RestSharp" version="104.4.0" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.44" targetFramework="net45" />
  <package id="SlowCheetah" version="2.5.14" targetFramework="net45" />
</packages>