<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup></configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">

      
    <buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
        <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
      </buildProviders></compilation>

    <pages controlRenderingCompatibilityVersion="4.0" />
    
  <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers></system.web>

  <connectionStrings configSource="connectionStrings.config" />
  <appSettings configSource="appSettings.config" />
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HpiServiceSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="HpiServiceSoap111" />
        <binding name="IvidTitleholderServiceSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="IvidTitleholderServiceSoap111" />
        <binding name="wsVinCheckSoap" />
        <binding name="BackOfficeWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://secure1.ubiquitech.co.za:443/ivid/ws/" binding="basicHttpBinding" bindingConfiguration="HpiServiceSoap11" contract="IvidServiceReference.HpiService" name="HpiServiceSoap11" />
      <endpoint address="https://secure1.ubiquitech.co.za:443/ivid/ws/" binding="basicHttpBinding" bindingConfiguration="IvidTitleholderServiceSoap11" contract="IvidTitleHolderServiceReference.IvidTitleholderService" name="IvidTitleholderServiceSoap11" />
      <endpoint address="http://www.autostats.co.za/Service/wsVinCheck.asmx" binding="basicHttpBinding" bindingConfiguration="wsVinCheckSoap" contract="RgtVinServiceReference.wsVinCheckSoap" name="wsVinCheckSoap" />
      <endpoint address="https://mobile.za.ax-aee.co.uk/audabridge/backofficeservice.asmx" binding="basicHttpBinding" bindingConfiguration="BackOfficeWebServiceSoap" contract="AudatexServiceReference.BackOfficeWebServiceSoap" name="BackOfficeWebServiceSoap" />
    </client>
  </system.serviceModel>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer><system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor></configuration>
