<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
    <section name="SecondLevelRetriesConfig" type="NServiceBus.Config.SecondLevelRetriesConfig, NServiceBus.Core" />
  </configSections>
  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="host=localhost" />
    <add name="NServiceBus/Persistence" connectionString="Data Source=.;Initial Catalog=Transactions.Commands;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
    <add name="NServiceBus/Persistence/NHibernate/Subscription" connectionString="Data Source=.;Initial Catalog=Transactions.Commands;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
    <add name="workflow/transactions/database/write" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Workflow.Commands;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  </connectionStrings>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="DataPlatform.Transactions.Write.Error" />
  <!--<AuditConfig 
    QueueName="The address to which messages received will be forwarded."
    OverrideTimeToBeReceived="The time to be received set on forwarded messages, specified as a timespan see http://msdn.microsoft.com/en-us/library/vstudio/se73z7b9.aspx"  />-->
  <AuditConfig QueueName="DataPlatform.Transactions.Write.Audit" />
  <TransportConfig MaximumConcurrencyLevel="5" MaxRetries="2" MaximumMessageThroughputPerSecond="0" />
  <!--<SecondLevelRetriesConfig Enabled="true"
                          TimeIncrease="00:00:10"
                          NumberOfRetries="2" />-->
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="Lightstone.DataPlatform.Workflow.Lace.Messages" Namespace="Workflow.Lace.Messages.Commands" Endpoint="DataPlatform.Transactions.Host.Write" />
      <add Assembly="Lightstone.DataPlatform.Workflow.Billing.Messages" Namespace="Workflow.Billing.Messages" Endpoint="DataPlatform.Transactions.Host.Write" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.3.0" newVersion="3.4.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>