<appSettings>
  <add key="TokenAuthUserAgentValue" value="Lightstone"/>
  <add key="TokenAuthKeyStorePath" value="D:\"/>

  <add key="cia/auth" value="http://dev.cia.lightstone.co.za/login"/>
  <add key="reportApi/config/baseUrl" value="http://dev.reporting.api.lightstone.co.za"/>

  <!--DataPlatform.Shared.Enums.SystemName-->
  <add key="tokenizer/logging/systemName/enum" value="Billing"/>
  <!--DataPlatform.Shared.Enums.SystemName-->
</appSettings>