<connectionStrings>
  <add name="workflow/billing/queue" connectionString="host=localhost"/>
  <add name="billing"
       connectionString="Data Source=.;Initial Catalog=Billing;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;"
       providerName="System.Data.SqlClient" />
</connectionStrings>
