<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.1" targetFramework="net45" />
  <package id="bootstrap" version="3.3.1" targetFramework="net45" />
  <package id="Bootstrap.Datepicker" version="1.3.1" targetFramework="net45" />
  <package id="Bootstrap.v3.Datetimepicker" version="4.7.14" targetFramework="net45" />
  <package id="Bootstrap.v3.Datetimepicker.CSS" version="4.7.14.1" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Common.Logging" version="3.1.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net45" />
  <package id="EasyNetQ" version="0.47.10.380" targetFramework="net45" />
  <package id="EasyNetQ-Bundle" version="0.28.5.115" targetFramework="net45" />
  <package id="FluentNHibernate" version="2.0.1.0" targetFramework="net45" />
  <package id="FluentValidation" version="5.5.0.0" targetFramework="net45" />
  <package id="Harvest.Chosen" version="1.3.0.1" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="jQuery" version="1.10.2" targetFramework="net45" />
  <package id="jQuery.BlockUI" version="2.70" targetFramework="net45" />
  <package id="jquery.datatables" version="1.10.4" targetFramework="net45" />
  <package id="jQuery.Form" version="3.46" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.11.1" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.13.0" targetFramework="net45" />
  <package id="jQuery.Validation.Unobtrusive" version="2.0.20710.0" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="1.0.0.1453" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.Shared.BuildingBlocks" version="1.0.0.1384" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.Shared.BuildingBlocks.Api" version="1.0.0.1384" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared.Messaging.Billing" version="1.0.0.1384" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Workflow.BuildingBlocks" version="1.0.0.1384" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Workflow.RabbitMQ" version="1.0.0.1384" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Workflow.Reporting" version="1.0.0.1384" targetFramework="net45" />
  <package id="MemBus" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.20710.0" targetFramework="net45" />
  <package id="Modernizr" version="2.8.3" targetFramework="net45" />
  <package id="Moment.js" version="2.9.0" targetFramework="net45" />
  <package id="Nancy" version="1.1" targetFramework="net45" />
  <package id="Nancy.Authentication.Stateless" version="0.22.2" targetFramework="net45" />
  <package id="Nancy.Authentication.Token" version="1.1" targetFramework="net45" />
  <package id="Nancy.Bootstrappers.Windsor" version="0.23.0" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Validation.DataAnnotations" version="1.0.0" targetFramework="net45" />
  <package id="Nancy.Validation.DataAnnotations.Extensions" version="0.2.0" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="1.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net45" />
  <package id="NHibernate.Caches.SysCache" version="4.0.0.4000" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.4.3" targetFramework="net45" />
  <package id="RestSharp" version="104.4.0" targetFramework="net45" />
  <package id="Sammy.js" version="0.7.5" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.44" targetFramework="net45" />
  <package id="SlowCheetah" version="2.5.14" targetFramework="net45" />
  <package id="toastr" version="2.1.0" targetFramework="net45" />
  <package id="Twitter.Bootstrap.Less" version="3.0.0" targetFramework="net45" />
</packages>