<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.1.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="FluentNHibernate" version="2.0.1.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="1.0.0.1217" targetFramework="net45" />
  <package id="NEventStore" version="5.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net45" />
  <package id="NHibernate.Caches.SysCache" version="4.0.0.4000" targetFramework="net45" />
  <package id="System.Data.SQLite.x86" version="1.0.94.1" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xUnit.BDD" version="1.9.2.0" targetFramework="net45" />
</packages>