<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="workflow/dataprovider/queue" connectionString="host=localhost" />
    <add name="lace/source/database/auto-car-stats" connectionString="Data Source=.;Initial Catalog=Auto_Carstats;Integrated Security=True;" />
    <add name="lace/source/database/ls-corporate-auto" connectionString="Data Source=.;Initial Catalog=LS_Corporate_Auto;Integrated Security=True;" />
    <add name="workflow/transactions/database/read" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Billing;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  </connectionStrings>
</configuration>