<appSettings>
  <add key="webPages:Enabled" value="false" />
  <add key="vs:EnableBrowserLink" value="true" />
  <add key="pbApi/config/baseUrl" value="http://dev.lightstone.packagebuilder.api/" />
  <add key="umApi/config/redisServers" value="localhost" />
  <add key="ImportDataOnApiStartUp" value="true"/>
  <add key="TokenAuthUserAgentValue" value="Lightstone"/>
  <add key="TokenAuthKeyStorePath" value="D:\"/>
</appSettings>