<appSettings>
  <add key="webPages:Enabled" value="false" />
  <add key="vs:EnableBrowserLink" value="true" />
  <add key="pbApi/config/baseUrl" value="http://dev.packagebuilder.api.lightstone.co.za/" />
  <add key="cia/auth" value="http://dev.cia.lightstone.co.za/login"/>
  <add key="umApi/config/redisServers" value="localhost" />
  <add key="ImportDataOnApiStartUp" value="true"/>

  <add key="rabbitMQ/config/subscriptionPrefix" value="BILLING"/>
  <add key="TokenAuthUserAgentValue" value="Lightstone"/>
  <add key="TokenAuthKeyStorePath" value="D:\"/>
  
  <add key="LiveAutoBaseUrl" value="http://dev.liveauto.web.lightstone.co.za"/>

  <add key="workflow/bus/serviceName" value="Lightstone_Workflow_Shared_Bus_Service"/>
  <add key="workflow/bus/serviceDisplayName" value="Lightstone: Workflow Shared Bus Service"/>
  <add key="workflow/bus/serviceDescription" value="Lightstone: Workflow Shared Bus Service"/>
</appSettings>