<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Common.Logging" version="3.1.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net45" />
  <package id="EasyNetQ" version="0.47.10.380" targetFramework="net45" />
  <package id="HangFire" version="1.4.1" targetFramework="net45" />
  <package id="Hangfire.Core" version="1.4.1" targetFramework="net45" />
  <package id="Hangfire.SqlServer" version="1.4.1" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="1.0.0.1200" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.Shared.BuildingBlocks" version="1.0.0.1200" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.Shared.BuildingBlocks.Api" version="1.0.0.1200" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared.Messaging.Billing" version="1.0.0.1200" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Workflow.BuildingBlocks" version="1.0.0.1199" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net45" />
  <package id="Nancy" version="1.0.0" targetFramework="net45" />
  <package id="Nancy.Authentication.Stateless" version="0.22.2" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="1.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.4.3" targetFramework="net45" />
  <package id="RestSharp" version="104.4.0" targetFramework="net45" />
  <package id="SlowCheetah" version="2.5.14" targetFramework="net45" />
</packages>