@using LightstoneApp.Presentation.Web.Mvc.Client.Resources

@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup>
    <h1 class="validation-errors">Error.</h1>
    <h2 class="validation-errors">@PresentationResources.Ko</h2>
</hgroup>
