<div ng-app="apiRequestMetadataApp">
    <div class="row">
        <div ng-controller="ApiRequestMetatdataController">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">API Requests</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body" style="overflow: scroll">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Request ID</th>
                                <th>Request Date</th>
                                <th>User Name</th>
                                <th>User Address</th>
                                <th>Method</th>
                                <th>User Agent</th>
                                <th>Port</th>
                                <th>Base Path</th>
                                <th>Authorization</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="request in apiRequests">
                                <td>{{request.RequestId}}</td>
                                <td>{{request.RequestDate}}</td>
                                <td>{{request.UserName}}</td>
                                <td>{{request.UserHostAddress}}</td>
                                <td>{{request.Method}}</td>
                                <td>{{request.UserAgent}}</td>
                                <td>{{request.Port}}</td>
                                <td>{{request.BasePath}}</td>
                                <td style="font-size: 10px; overflow: scroll; max-width: 15px; font-weight: bold">{{request.Authorization}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Request ID</th>
                                    <th>Request Date</th>
                                    <th>User Name</th>
                                    <th>User Address</th>
                                    <th>Method</th>
                                    <th>User Agent</th>
                                    <th>Port</th>
                                    <th>Base Path</th>
                                    <th>Authorization</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>

        </div>
    </div>
</div>
