@using System
@using UserManagement.Api.Modules
@using UserManagement.Api.ViewModels
@using UserManagement.Domain.Dtos
@*@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LookupViewModel>*@

@Html.Partial("Shared/PageHeader", new HeaderViewModel("Audit Logs", "An audit log of all changes to the data"))

<div class="box">

    <div class="box-header"></div>
    <table id="table"></table>

</div>
<script>

    $('#table').bootstrapTable({
        url: '/AuditLogs',
        search: true,
        showRefresh: true,
        showColumns: true,
        pagination: true,
        pageNumber: 1,
        pageSize: 10,
        pageList: [10, 25, 50, 100, 'All'],
        setOrder: 'desc',
        columns: [{
            field: 'eventDateUtc',
            title: 'Event Date',
            visible: false
        }, {
            field: 'eventType',
            title: 'Event Type',
            sortable: true
        }, {
            field: 'entityName',
            title: 'Entity Name'
        }, {
            field: 'recordId',
            title: 'Record Id',
            sortable: true
        }, {
            field: 'fieldName',
            title: 'Field Name',
            sortable: true
        }, {
            field: 'originalValue',
            title: 'Original Value',
        }, {
            field: 'newValue',
            title: 'New Value',
        }, {
            field: 'dataType',
            title: 'Data Type',
            sortable: true
        }, {
            field: 'commitId',
            title: 'Commit Id',
            sortable: true
        }, {
            field: 'commitSequence',
            title: 'Commit Sequence',
            sortable: true
        }, {
            field: 'commitVersion',
            title: 'Commit Version',
            sortable: true
        }]
    });

    UserManagement.overrideDataTablesStyling();
</script>