@using Billing.Api.ViewModels
@Html.Partial("Shared/PageHeader", new HeaderViewModel("Pre Billing", ""))

<div class="box">
    @*<table id="preBilling_table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Customer Name
                </th>
                <th>
                    # Users
                </th>
                <th>
                    Type
                </th>
                <th>
                    Owner
                </th>
                <th>
                    # Products
                </th>
                <th>
                    # Tx
                </th>
                <th>
                    New / Existing
                </th>
                <th>
                    Total (excl VAT.)
                </th>
                <th>
                    <i id="ctActionIcon" class="fa fa-bolt"></i>
                </th>
            </tr>
        </thead>
    </table>*@

    <div class="box-header"></div>
    <table id="table"></table>

    <script>

        $("<a>", { "class": "btn btn-default entity-add pull-left", href: "#/PreBilling/Add", text: "Add" }).appendTo($("div.box-header"));

        $('#table').bootstrapTable({
            url: '/PreBilling',
            search: true,
            showRefresh: true,
            showColumns: true,
            pagination: true,
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 25, 50, 100, 'All'],
            columns: [{
                field: 'id',
                title: 'Item ID',
                visible: false
            }, {
                field: 'customerName',
                title: 'Customer Name',
                sortable: true
            }, {
                field: 'numUsers',
                title: '# Users'
            }, {
                field: 'type',
                title: 'User Type',
                sortable: true
            }, {
                field: 'owner',
                title: 'Owner',
                sortable: true
            }, {
                field: 'numProducts',
                title: '# Products'
            }, {
                field: 'numTransactions',
                title: '# Transactions'
            }, {
                field: 'userType',
                title: 'User Type',
                sortable: true
            }, {
                field: 'total',
                title: 'Total',
            }, {
                title: 'Action',
                formatter: gridActionFormatter,
                events: gridActionEvents
            }]
        });

        Billing.overrideDataTablesStyling();
    </script>
</div>