table.dataTable.no-footer {
    border-bottom: 2px solid rgb(235, 238, 242) !important;
}


.customTable, tbody tr {
    border-collapse: collapse !important;
    box-sizing: border-box !important;
    clear: both !important;
    color: rgb(69, 78, 89) !important;
    perspective-origin: 801.5px 234px !important;
    transform-origin: 801.5px 234px !important;
    border: 1px solid rgb(235, 238, 242) !important;
    border-spacing: 0px 0px !important;
    font: normal normal normal 14px/20px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    outline: rgb(69, 78, 89) none 0px !important;
}

#ctHead {
    border-collapse: collapse !important;
    box-sizing: border-box !important;
    color: rgb(69, 78, 89) !important;
    height: 57px !important;
    width: 100% !important;
    perspective-origin: 801px 28.5px !important;
    transform-origin: 801px 28.5px !important;
    border: 0px none rgb(235, 238, 242) !important;
    font: normal normal normal 14px/20px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    outline: rgb(69, 78, 89) none 0px !important;
}

#ctSubHead1 {
    background-position: 100% 50% !important;
    border-collapse: collapse !important;
    color: rgb(69, 78, 89) !important;
    cursor: pointer !important;
    height: 25px !important;
    text-align: left !important;
    vertical-align: middle !important;
    width: 25% !important;
    perspective-origin: 207.5px 28.5px !important;
    transform-origin: 207.5px 28.5px !important;
    border-top: 0 none rgb(69, 78, 89) !important;
    border-right: 1px solid rgb(235, 238, 242) !important;
    border-bottom: 2px solid rgb(235, 238, 242) !important;
    border-left: 1px solid rgb(235, 238, 242) !important;
    font: normal normal 600 18px/25.7142868041992px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    outline: rgb(69, 78, 89) none 0;
    padding: 15px 18px;
}

#ctSubHead2 {
    border-collapse: collapse !important;
    color: rgb(69, 78, 89) !important;
    height: 25px;
    vertical-align: middle !important;
    width: 25%;
    perspective-origin: 56px 28.5px !important;
    transform-origin: 56px 28.5px !important;
    border-top: 0 none rgb(69, 78, 89);
    border-right: 1px solid rgb(235, 238, 242) !important;
    border-bottom: 2px solid rgb(235, 238, 242) !important;
    border-left: 1px solid rgb(235, 238, 242) !important;
    font: normal normal 600 18px/25.7142868041992px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    outline: rgb(69, 78, 89) none 0 !important;
    padding: 15px 18px !important;
}

#ctActionIcon {
    border-collapse: collapse !important;
    box-sizing: border-box !important;
    color: rgb(69, 78, 89) !important;
    display: inline-block !important;
    height: 18px !important;
    text-align: center !important;
    width: 9px !important;
    z-index: 0 !important;
    perspective-origin: 4.5px 9px !important;
    transform: matrix(1, 0, 0, 1, 0, 0) !important;
    transform-origin: 4.5px 9px !important;
    border: 0 none rgb(69, 78, 89) !important;
    font: normal normal normal 18px/18px FontAwesome !important;
    outline: rgb(69, 78, 89) none 0 !important;
}

    #ctActionIcon:before {
        border-collapse: collapse !important;
        box-sizing: border-box !important;
        color: rgb(69, 78, 89) !important;
        text-align: center !important;
        border: 0 none rgb(69, 78, 89) !important;
        font: normal normal normal 18px/18px FontAwesome !important;
        outline: rgb(69, 78, 89) none 0 !important;
    }
