<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="billing/url" value="http://dev.billing.lightstone.api" />
    <add key="billing/apiKey" value="1234567890" />
  </appSettings>

  <connectionStrings>
    <add name="workflow/billing/database"
         connectionString="Data Source=.;Database=LS_Billing;User Id=ls_billing_user;Password=the|quick?andthe|dead" />
    <add name="workflow/billing/queue" connectionString="host=localhost" />

  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FluentMigrator" publicKeyToken="aacfc7de5acabf05" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.6.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>