@using UserManagement.Api.ViewModels
@*@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LookupViewModel>*@

@Html.Partial("Shared/PageHeader", new HeaderViewModel("Users", ""))

<div class="box">
    <table id="users_table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    User Name
                </th>
                <th>
                    <i id="ctActionIcon" class="fa fa-bolt"></i>
                </th>
            </tr>
        </thead>
    </table>
</div>
<script>
    var table = $("#users_table").dataTable({
        dom: '<"box-header"f>t<"box-footer"lip>r',
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
        processing: true,
        serverSide: true,
        ajax: "/Users",
        columns: [
            { data: "id", visible: false },
            { data: "firstName" },
            { data: "lastName" },
            { data: "userName" },
            {
                data: null,
                render: function (data, type, full, meta) {
                    return '<div class="row">' +
                        '<div class="col-lg-1"><a class="btn btn-primary entity-edit" href="#/Users/' + data.id + '">Edit</a></div>' +
                        '<div class="col-lg-1"><a class="btn btn-danger entity-remove" href="#/Users/Delete/' + data.id + '">Delete</a></div>' +
                        '</div>';
                }
            }
        ]
    });

    $("<a>", { "class": "btn btn-default entity-add pull-left", href: "#/Users/Add", text: "Add" }).appendTo($("div.box-header"));

    UserManagement.overrideDataTablesStyling();
</script>
