@using UserManagement.Api.ViewModels
@*@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LookupViewModel>*@

@Html.Partial("Shared/PageHeader", new HeaderViewModel("Users", ""))

<div class="box">

    <div class="box-header"></div>
    <table id="table"></table>

</div>
<script>

    $('#table').bootstrapTable({
        url: '/Customers',
        search: true,
        showRefresh: true,
        showColumns: true,
        pagination: true,
        pageNumber: 1,
        pageSize: 10,
        pageList: [10, 25, 50, 100, 'All'],
        columns: [{
            field: 'id',
            title: 'Item ID',
            visible: false
        }, {
            field: 'name',
            title: 'Username',
            sortable: true
        }, {
            field: 'firstName',
            title: 'First Name'
        }, {
            field: 'lastName',
            title: 'Last Name',
            sortable: true
        }, {
            field: 'userType',
            title: 'User Type',
            sortable: true
        }, {
            field: 'role',
            title: 'Role',
        }, {
            field: 'customers',
            title: 'Customers',
            //formatter: gridTransactionsFormatter
        }, {
            field: 'clients',
            title: 'Clients',
            sortable: true
        }, {
            field: '',
            title: '',
            formatter: gridActionFormatter

        }]
    });

    function gridActionFormatter(value, row, index) {

        return [
            '<div class="row">' +
                        '<div class="col-lg-1"><a class="btn btn-primary entity-edit" href="#/Users/' + row.id + '">Edit</a></div>' +
                        '<div class="col-lg-1"><a class="btn btn-danger entity-remove" href="#/Users/Delete/' + row.id + '">Delete</a></div>' +
                        '</div>'
        ].join('');
    };

    $("<a>", { "class": "btn btn-default entity-add pull-left", href: "#/Customers/Add", text: "Add" }).appendTo($("div.box-header"));

    UserManagement.overrideDataTablesStyling();
</script>