@using UserManagement.Api.ViewModels
@*@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LookupViewModel>*@

@Html.Partial("Shared/PageHeading", new PageHeadingViewModel("Users", ""))

<table id="users_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th></th>
        </tr>
    </thead>
</table>

<script>
    var table = $("#users_table").DataTable({
        dom: '<"table-toolbar">frtip<"bottom"l>',
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
        processing: true,
        serverSide: true,
        ajax: "/Users",
        columns: [
            { data: "id", visible: false },
            { data: "firstName" },
            { data: "lastName" },
            { data: "userName" },
            {
                data: null,
                render: function(data, type, full, meta) {
                    return '<a class="btn btn-primary entity-edit" href="#/Users/' + data.id + '">Edit</a>';
                }
            }
        ]
    });

    $("div.table-toolbar").html("<a class='btn btn-default entity-add' href='#/Users/Add'>Add</a>");
</script>
