@using UserManagement.Api.ViewModels
@*@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LookupViewModel>*@

@Html.Partial("Shared/PageHeader", new PageHeadingViewModel("Users", ""))

<table id="users_table" class="customTable">
    <thead id="ctHead">
        <tr>
            <th>
                Id
            </th>
            <th id="ctSubHead1">
                First Name
            </th>
            <th id="ctSubHead1">
                Last Name
            </th>
            <th id="ctSubHead1">
                User Name
            </th>
            <th id="ctSubHead2">
                <i id="ctActionIcon" class="fa fa-bolt"></i>
            </th>
        </tr>
    </thead>
</table>

<script>
    
    $('.navmenu').offcanvas('toggle');

    var table = $("#users_table").dataTable({
        dom: '<"table-toolbar">frtlip',
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
        processing: true,
        serverSide: true,
        ajax: "/Users",
        columns: [
            { data: "id", visible: false },
            { data: "firstName" },
            { data: "lastName" },
            { data: "userName" },
            {
                data: null,
                render: function (data, type, full, meta) {
                    return '<div class="row">' +
                        '<div class="col-lg-1"><a class="btn btn-primary entity-edit" href="#/Users/' + data.id + '">Edit</a></div>' +
                        '<div class="col-lg-1"><a class="btn btn-danger entity-remove" href="#/Users/Delete/' + data.id + '">Delete</a></div>' +
                        '</div>';
                }
            }
        ]
    });

    $("div.table-toolbar").html("<a class='btn btn-default entity-add' href='#/Users/Add'>Add</a>");
</script>
