<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
    <section name="SecondLevelRetriesConfig" type="NServiceBus.Config.SecondLevelRetriesConfig, NServiceBus.Core" />
  </configSections>
  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="host=localhost" />
    <add name="NServiceBus/Persistence" connectionString="Data Source=.;Initial Catalog=Monitoring.Write;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
    <add name="NServiceBus/Persistence/NHibernate/Subscription" connectionString="Data Source=.;Initial Catalog=Monitoring.Write;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
    <add name="Monitoring.EventStore" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Monitoring.Write;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  </connectionStrings>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="DataPlatform.Monitoring.Write.Error" />
  <AuditConfig QueueName="DataPlatform.Monitoring.Write.Audit" />
  <TransportConfig MaximumConcurrencyLevel="5" MaxRetries="2" MaximumMessageThroughputPerSecond="0" />
  <!--<SecondLevelRetriesConfig Enabled="true"
                          TimeIncrease="00:00:10"
                          NumberOfRetries="2" />-->
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="Lightstone.DataPlatform.Lace.Shared.Monitoring.Messages" Namespace="Lace.Shared.Monitoring.Messages.Commands" Endpoint="DataPlatform.Monitoring.DenormalizerHost" />
      <add Assembly="Lightstone.DataPlatform.Shared" Namespace="DataPlatform.Shared.Messaging.Events" Endpoint="DataPlatform.Monitoring.DenormalizerHost" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NServiceBus.Core" publicKeyToken="9fc386479f8a226c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>