html, nav ul li a:hover, #login a:hover {
    color: #000;
}

html {
    margin: 0 auto;
    width: 70%;
}

nav ul, html {
    padding: 0;
}

body {
    border-radius: 16px;
    font: 11px verdana,arial,sans-serif;
}

section {
    position: relative;
    margin: 10px;
    padding: 10px;
    overflow: auto;
}

nav ul li ul, select, input, #viewform {
    font-size: 11px;
}

section, article, aside, nav li:hover ul {
    display: block;
}

#login, nav, section, article, aside {
    border-radius: 8px;
}

header, nav {
    float: left;
}

nav {
    margin: 10px;
    padding: 10px 14px;
}

    nav ul {
        list-style: none;
        margin: 0;
    }

        nav ul li {
            border-radius: 2px;
            clear: both;
            margin: 2px 0;
            padding: 1px 3px;
        }

            nav ul li:hover {
                background: #5f73be;
                background: rgba(95,115,190,.2);
            }

#loading {
    text-align: center;
    width: 100%;
    z-index: 2;
}

#busyinfo {
    padding: 20px;
}

.webgrid {
    border: 1px solid #e3effa;
    border: 1px solid rgba(95,115,190,.2);
}

#login, nav, section, article, aside, html, .menubordertop, .menuborderbottom {
    background: #fff;
}

.webgrid-header {
    background: #e3effa;
    background: rgba(95,115,190,.2);
    min-height: 17px;
}

.webgrid-footer {
    text-align: right;
}

.webgrid-alternating-row {
    background: #e3effa;
    background: rgba(95,115,190,.1);
}

.menubordertop {
    border-top: 1px dotted #5f73be;
}

.menuborderbottom {
    border-bottom: 1px dotted #5f73be;
}

#viewform, a:hover {
    text-decoration: underline;
}

#bcenter, .divcenter, footer, .logincenter, #viewform {
    text-align: center;
}

nav ul li, #viewform, a:visited, a:active, a:link {
    color: #5f73be;
}

    nav ul li ul li a:hover, nav ul li a:hover, .field-validation-error, a:visited, a:active, a:link, #login a:hover {
        text-decoration: none;
    }

.menubordertop, .menuborderbottom {
    width: 114px;
}

#login {
    float: right;
    line-height: 14px;
    margin: 5px 10px;
    padding: 0 14px;
}

table, #login {
    text-align: left;
}

.validation-errors, .field-validation-error, .validation-summary-errors {
    color: red;
}

h3 {
    font-size: 10px;
}

footer, #menu, .enter {
    clear: left;
}

.enter {
    height: 10px;
}

#bcenter {
    margin: 8px 0 2px;
    width: 100%;
}

table, #busyinfo {
    margin: 8px auto;
}

h2 {
    font-size: 11px;
}

h1, #menu {
    font-size: 12px;
}

label, input, button, select {
    margin: 2px;
}

p {
    padding: 0 10px;
}

td, tr {
    padding: 1px 2px;
}

tr {
    vertical-align: top;
}

h1, h2, h3 {
    padding-bottom: 5px;
}

input {
    min-height: 13px;
}

.field {
    display: inline;
    float: left;
    margin: 2px;
    width: 150px;
}

select {
    min-height: 19px;
}

.validation-errors {
    min-height: 10px;
    min-width: 50px;
}

#results {
    margin: 4px auto;
    overflow: auto;
    width: 95%;
}

.input-validation-error {
    background: red;
    background: rgba(255,0,0,.2);
    border: 1px solid red;
    min-height: 15px;
}

.field-validation-error {
    position: relative;
    z-index: 24;
}

footer {
    padding: 4px 6px 6px;
}

header {
    padding: 6px 6px 0;
}

body, .enter, nav ul li {
    background: #5f73be;
    background: rgba(95,115,190,.1);
}

.label {
    display: inline;
    float: left;
    margin: 2px;
    width: 140px;
}

nav ul li ul, .validation-summary-valid, .field-validation-valid, .hide, #busyinfo, #viewform, #mask {
    display: none;
}

.newline {
    clear: both;
    display: block;
    margin: 14px;
    padding: 0 10px 0 0;
}

.buttons {
    clear: both;
    padding: 5px 10px 0;
}

fieldset {
    margin: 4px;
}
