<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AudatexCompanyCode" value="CARSTATS" />
    <add key="AudatexUserId" value="carstat1" />
    <add key="AudatexPassword" value="Audatex01" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BackOfficeWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://mobile.za.ax-aee.co.uk/audabridge/backofficeservice.asmx" binding="basicHttpBinding" bindingConfiguration="BackOfficeWebServiceSoap" contract="AudatexServiceReference.BackOfficeWebServiceSoap" name="BackOfficeWebServiceSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>