<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="service/config/name" value="Lightstone_Cradle_Keep_Alive_Service"/>
  <add key="service/config/displayName" value="Lightstone: Cradle Keep Alive Service"/>
  <add key="service/config/description" value="Lightstone: Cradle Keep Alive Service"/>

  <add key="api/config/baseUrl" value="http://dev.api.lightstone.co.za"/>

  <add key="owin:HandleAllRequests" value="true"/>
  <add key="owinUrl" value="http://dev.cradle.keepalive.lightstone.co.za"/>
  <add key="keepAliveCron" value="0 * * * *"/>
  <add key="pollingCron" value="0/60 6-16 * * MON-SAT"/>

  <add key="systemLoginUser" value="allistairec@lightstone.co.za"/>
  <add key="systemLoginPassword" value="123456"/>
  
  <add key="endpoint/url/api" value="dev.api.lightstone.co.za"/>
  <add key="endpoint/url/cia" value="dev.cia.lightstone.co.za"/>
  <add key="endpoint/url/usermanagement" value="dev.usermanagement.api.lightstone.co.za"/>
  <add key="endpoint/url/packagebuilder" value="dev.packagebuilder.api.lightstone.co.za"/>
  <add key="endpoint/url/billing" value="dev.billing.api.lightstone.co.za"/>
  <add key="endpoint/url/reporting" value="dev.reporting.api.lightstone.co.za"/>
  <add key="endpoint/url/monitoring" value="dev.monitoring.api.lightstone.co.za"/>
  <!--<add key="endpoint/url/lim" value="dev.lim.api.lightstone.co.za"/>-->

  <add key="report/email/environment/subject" value="DEV"/>
  <add key="report/email/from" value="mvpreporting@lightstone.co.za"/>
  <add key="report/email/to" value="live2system@lightstoneauto.co.za"/>

  <add key="package/username" value="live2system@lightstoneauto.co.za"/>
  <add key="package/userid" value="c699299e-525b-4efc-8e11-819909429d10"/>
  <add key="package/customerclientname" value="Internal System Cust"/>
  <add key="package/customerclientid" value="cebaace3-4d4b-474c-b7b7-5366f7b4c8c5"/>
  <add key="package/contractname" value="System Contract"/>
  <add key="package/contractid" value="9739ce2e-281a-4bc2-aef2-9be0ba474e87"/>
  <add key="package/packagename" value="System Package"/>
  <add key="package/packageid" value="893fd02f-3121-4375-b626-8752558381a0"/>
</appSettings>