<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="service/config/name" value="Lightstone_Cradle_Keep_Alive_Service"/>
  <add key="service/config/displayName" value="Lightstone: Cradle Keep Alive Service"/>
  <add key="service/config/description" value="Lightstone: Cradle Keep Alive Service"/>

  <add key="owin:HandleAllRequests" value="true"/>
  <add key="owinUrl" value="http://dev.cradle.keepalive.lightstone.co.za"/>
  <add key="keepAliveCron" value="0 * * * *"/>
  
  <add key="endpoint/url/api" value="dev.api.lightstone.co.za"/>
  <add key="endpoint/url/cia" value="dev.cia.lightstone.co.za"/>
  <add key="endpoint/url/usermanagement" value="dev.usermanagement.api.lightstone.co.za"/>
  <add key="endpoint/url/packagebuilder" value="dev.packagebuilder.api.lightstone.co.za"/>
  <add key="endpoint/url/billing" value="dev.billing.api.lightstone.co.za"/>
  <add key="endpoint/url/reporting" value="dev.reporting.api.lightstone.co.za"/>
  <add key="endpoint/url/monitoring" value="dev.monitoring.api.lightstone.co.za"/>
  <!--<add key="endpoint/url/lim" value="dev.lim.api.lightstone.co.za"/>-->

  <add key="report/email/from" value="mvpreporting@lightstone.co.za"/>
  <add key="report/email/to" value="allistairec@lightstone.co.za"/>
</appSettings>