<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="service/config/name" value="#{Cradle_KeepAlive_Service_Name}" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  <add key="service/config/displayName" value="#{Cradle_KeepAlive_Service_DisplayName}" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  <add key="service/config/description" value="#{Cradle_KeepAlive_Service_Description}" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  
  <add key="endpoint/url/api" value="#{Lightstone.dp.api.hostname}" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  <add key="endpoint/url/cia" value="#{Lightstone.dp.cia.web.hostname}" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  <add key="endpoint/url/usermanagement" value="#{Lightstone.dp.um.api.hostname}" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  <add key="endpoint/url/packagebuilder" value="#{Lightstone.dp.pb.api.hostname}" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  <add key="endpoint/url/billing" value="#{Lightstone.dp.bill.api.hostname}" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  <add key="endpoint/url/reporting" value="#{Lightstone.dp.reporting.api.hostname}" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  <add key="endpoint/url/monitoring" value="#{Lightstone.dp.monitoring.web.hostname}" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  <!--<add key="endpoint/url/lim" value="#{Lightstone.dp.lim.web.hostname}" xdt:Locator="Match(key)" xdt:Transform="Replace"/>-->
</appSettings>