<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="endpoint/url/api" value="dev.api.lightstone.co.za"/>
  <add key="endpoint/url/cia" value="dev.api.lightstone.co.za"/>
  <add key="endpoint/url/usermanagement" value="dev.usermanagement.api.lightstone.co.za"/>
  <add key="endpoint/url/packagebuilder" value="dev.packagebuilder.api.lightstone.co.za"/>
  <add key="endpoint/url/billing" value="dev.billing.api.lightstone.co.za"/>
  <add key="endpoint/url/monitoring" value="dev.monitoring.api.lightstone.co.za"/>
  <add key="endpoint/url/lim" value="dev.lim.api.lightstone.co.za"/>
</appSettings>