<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Common.Logging" version="3.1.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net45" />
  <package id="Common.Logging.Log4Net1211" version="3.1.0" targetFramework="net45" />
  <package id="HangFire.Core" version="1.4.6" targetFramework="net45" />
  <package id="Hangfire.SqlServer" version="1.4.6" targetFramework="net45" />
  <package id="Hangfire.Windsor" version="0.1.5343.14974" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="1.0.0.1863" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.Shared.BuildingBlocks" version="1.0.0.1706" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.Shared.BuildingBlocks.Api" version="1.0.0.1860" targetFramework="net45" />
  <package id="log4net" version="1.2.11" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Nancy" version="1.2.0" targetFramework="net45" />
  <package id="Nancy.Authentication.Stateless" version="0.22.2" targetFramework="net45" />
  <package id="Nancy.Bootstrappers.Windsor" version="1.2.0" targetFramework="net45" />
  <package id="Nancy.Owin" version="1.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="RestSharp" version="105.1.0" targetFramework="net45" />
  <package id="SlowCheetah" version="2.5.15" targetFramework="net45" />
  <package id="Topshelf" version="3.2.0" targetFramework="net45" />
</packages>