<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Lace.Domain.Core" version="1.0.0.794" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.PackageBuilder.Domain.Entities" version="1.0.0.773" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="1.0.0.798" targetFramework="net45" />
  <package id="NEventStore" version="5.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
</packages>