<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="CommonDomain" version="1.6.0.3" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Lace.Shared.Monitoring.Messages" version="1.0.0.341" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="1.0.0.341" targetFramework="net45" />
  <package id="NEventStore" version="4.0.0.15" targetFramework="net45" />
  <package id="NServiceBus" version="5.0.1" targetFramework="net45" />
  <package id="NServiceBus.RabbitMQ" version="2.0.5" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.3.5" targetFramework="net45" />
</packages>