<script>
    function goBack() {
        window.history.back();
    }
</script>

<div class="box-footer">
    <div class="form-group">
        <div class="col-sm-4 col-md-4"></div>
        <div class="col-md-6" style="margin-left: -15px;">
            <input type="submit" class="btn btn-primary" value="Save">
            <input class="btn btn-danger" value="Cancel" onclick="goBack()">
        </div>
    </div>
</div>