@{
}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    @Html.Partial("Shared/TopLeftNavigation")
    @Html.Partial("Shared/TopRightNavigation")
    @Html.Partial("Shared/SideNavigation")
</nav>