@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<UserManagement.Api.ViewModels.PageHeadingViewModel>
@{
    
}

<section class="content-header">
    <h1>
        @Model.Title
        <small>@Model.Description</small>
    </h1>
    @*<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
    </ol>*@
</section>