@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<UserManagement.Api.ViewModels.PageHeadingViewModel>
@{
    
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @Model.Title <small>@Model.Description</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> @Model.Title
            </li>
        </ol>
    </div>
</div>