@{
}
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="/PlatformStatuses"><i class="fa fa-fw fa-dashboard"></i> Platform Statuses</a>
        </li>
        <li>
            <a href="/CreateSources"><i class="fa fa-fw fa-bar-chart-o"></i> Create Sources</a>
        </li>
        <li>
            <a href="/CommercialStates"><i class="fa fa-fw fa-table"></i> Commercial States</a>
        </li>
        <li>
            <a href="/ContractTypes"><i class="fa fa-fw fa-edit"></i> Contract Types</a>
        </li>
        <li>
            <a href="/EscalationTypes"><i class="fa fa-fw fa-desktop"></i> Escalation Types</a>
        </li>
        <li>
            <a href="/ContractDurations"><i class="fa fa-fw fa-wrench"></i> ContractDurations</a>
        </li>
        <li>
            <a href="/Provinces"><i class="fa fa-fw fa-arrows-v"></i> Provinces</a>
        </li>
        <li>
            <a href="/UserTypes"><i class="fa fa-fw fa-file"></i> User Types</a>
        </li>
        <li>
            <a href="/Roles"><i class="fa fa-fw fa-dashboard"></i> Roles</a>
        </li>
    </ul>
</div>


