<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="NServiceBus/Transport" connectionString="host=localhost" />
  <add name="NServiceBus/Persistence" connectionString="Data Source=.;Initial Catalog=Billing;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  <add name="NServiceBus/Persistence/NHibernate/Subscription" connectionString="Data Source=.;Initial Catalog=Billing;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  <add name="workflow/dataprovider/database/read" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Billing;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  
</connectionStrings>