<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="Common.Logging" version="3.0.0" targetFramework="net451" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net451" />
  <package id="EasyNetQ" version="0.47.10.380" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Monitoring.Domain" version="1.0.0.941" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="1.0.0.938" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.Shared.BuildingBlocks" version="1.0.0.932" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared.BuildingBlocks.AdoNet" version="1.0.0.938" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.Shared.BuildingBlocks.Api" version="1.0.0.930" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Workflow.Billing.Messages" version="1.0.0.938" targetFramework="net45" />
  <package id="Nancy" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Authentication.Stateless" version="0.22.2" targetFramework="net45" />
  <package id="NEventStore" version="5.1.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net451" />
  <package id="NServiceBus" version="5.2.0" targetFramework="net451" />
  <package id="NServiceBus.Autofac" version="5.0.0" targetFramework="net451" />
  <package id="NServiceBus.Host" version="6.0.0" targetFramework="net45" />
  <package id="NServiceBus.RabbitMQ" version="2.1.1" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.4.3" targetFramework="net45" />
  <package id="RestSharp" version="104.4.0" targetFramework="net45" />
</packages>