 <!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a href="/" class="logo"><b>Monitoring</b></a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
       
        <!-- Navbar Right Menu -->
        @*<div class="navbar-custom-menu">

        </div>*@
    </nav>
</header>