  <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <!-- search form (Optional) -->
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header"></li>
            <!-- Optionally, you can add icons to the links -->
            @*<li class="active"><a href="#"><span>Link</span></a><</li>
                <li><a href="#"><span>Another Link</span></a></li>*@
            <li class="treeview">
                <a href="#"><span>Data Providers</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="/dataProviders/indicators">Indicators</a></li>
                    <li><a href="/dataProviders/log">Log</a></li>
                    <li><a href="/dataProviders/log/errors">Error Log</a></li>
                    <li><a href="/dataProviders/Query">Query Log</a></li>
                    <li><a href="/dataProviders/caching">Caching</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><span>API</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="/apiRequests/metadata">Request Metadata</a></li>
                </ul>
            </li>
            <li>
                <a href="/cia"><i class="glyphicon glyphicon-arrow-left"></i> Back to CIA</a>
            </li>
        </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>