@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Monitoring.Read.ReadModel.Models.MonitoringStorageModel>

@{
    Layout = "_Layout.cshtml";
}
<div>Monitoring</div>
<header>
    <nav>
        <div>
            <ul>
                <li><a href="/dataProviders/log">Data Providers</a></li>
            </ul>
        </div>
    </nav>
</header>