<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Common.Logging" version="3.1.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net45" />
  <package id="Common.Logging.Log4Net1211" version="3.1.0" targetFramework="net45" />
  <package id="EasyNetQ" version="0.47.10.380" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.Shared.BuildingBlocks" version="1.0.0.1128" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared.BuildingBlocks.AdoNet" version="1.0.0.1092" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Workflow.BuildingBlocks" version="1.0.0.1128" targetFramework="net45" />
  <package id="log4net" version="1.2.11" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Quartz" version="2.3.1" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.4.3" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net451" />
  <package id="xUnit.BDD" version="1.9.2.0" targetFramework="net451" />
</packages>