<script type="text/ng-template" id="data_field_renderer.html"> 
    <i ng-if="dataField.isSelected">{{dataField.name}} |</i>
    <span ng-repeat="dataField in dataField.dataFields" ng-include="'data_field_renderer.html'"></span>
</script>
<!-- TOP lvl -->
<script type="text/ng-template" id="proivder_nodes_renderer.html">

    <div style="cursor:default" class="group-title angular-ui-tree-handle" data-nodrag>
        <div class="row">
            <div class="col-md-4">
                <a style="cursor:pointer; float: left;" class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this); callRestService(this)">
                    <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
                </a>
                <div style="float: left; margin-left: 15px;">
                    {{provider.name}}
                </div>
            </div>
            <div class="col-md-2">
                <div multi-select
                     input-model="provider.requestFields"
                     button-label="name"
                     item-label="name maker"
                     max-labels="1"
                     tick-property="isSelected"
                     output-model="selectedRequestFields">
                </div>
            </div>
            <div class="col-md-4" ng-show="provider.fieldLevelCostPriceOverride == false">
                Cost Of Sale: R {{provider.costOfSale}}
            </div>
            <div class="col-md-4" ng-show="provider.fieldLevelCostPriceOverride == false">
                *Per request
            </div>

            <div class="col-md-4" ng-show="provider.fieldLevelCostPriceOverride == true" />
            <div class="col-md-4" ng-show="provider.fieldLevelCostPriceOverride == true">
                *Per field requested
            </div>
        </div>
    </div>
    <ul style="cursor:default; list-style-type: none;" class="angular-ui-tree" ng-model="provider.dataFields" data-nodrag type="category" ng-class="{hidden: collapsed}">
        <li style="cursor:default" class="category-title " ng-repeat="dataField in provider.dataFields | filter:filterIndustry" ng-include="'parentFields_renderer.html'">

        </li>
    </ul>

</script>

<!-- PARENT -->
<script type="text/ng-template" id="parentFields_renderer.html">

    <div style="cursor:default; background-color: #4C7E80 !important;" class="group-title angular-ui-tree-handle" data-nodrag>
        <div class="row">

            <div class="col-md-4">
                <a ng-if="dataField.dataFields.length > 0" style="cursor:pointer; float: left;" class="btn btn-success btn-xs" data-nodrag onclick="toggleTreeNode(this); return false;">
                    <span class="glyphicon" ng-class="{'glyphicon-chevron-right': !collapsed, 'glyphicon-chevron-down': collapsed}"></span>
                </a>

                <div class="col-md-2" ng-if="dataField.dataFields.length <= 0"></div>

                <div>
                    <input class="col-md-2" ng-model="dataField.isSelected" value="{{dataField.id}}" type="checkbox">
                    <div ng-if="(dataField.label == null) || (dataField.label.length <= 0)" class="col-md-6">{{dataField.name}}</div>
                    <div ng-if="dataField.label.length > 0" class="col-md-6">{{dataField.label}}</div>
                </div>
            </div>

            <div ng-show="provider.fieldLevelCostPriceOverride == true">
                <label class="col-md-4">Cost:</label>

                <input ng-if="dataField.dataFields.length > 0" class="col-md-4 form-control" style="width: 12% !important;" type="number" min="0"
                       value="{{totalChildren(dataField, dataField.dataFields)}}" />

                <input ng-if="dataField.dataFields.length <= 0" class="col-md-4 form-control" style="width: 12% !important;" type="number" min="0" ng-model="dataField.costOfSale" />
            </div>
        </div>
    </div>

    <ul style="cursor:default; list-style-type: none;" class="angular-ui-tree" ng-model="dataField.dataFields" data-nodrag type="category" ng-class="{hidden: !collapsed}">
        <li style="cursor:default" class="category-title " ng-repeat="dataField in dataField.dataFields | filter:filterIndustry" ng-include="'childrenFields_renderer.html'">

        </li>
    </ul>

</script>

<!-- Children -->
<script type="text/ng-template" id="childrenFields_renderer.html">

    <div style="cursor:default;" ng-class="{'toggled-child-selected': collapsed, 'toggled-child-rest': !collapsed}" class="group-title angular-ui-tree-handle" data-nodrag>
        <div class="row">

            <div class="col-md-4">
                <a ng-if="dataField.dataFields.length > 0" style="cursor:pointer; float: left;" class="btn btn-success btn-xs" data-nodrag onclick="toggleTreeNode(this); return false;">
                    <span class="glyphicon" ng-class="{'glyphicon-chevron-right': !collapsed, 'glyphicon-chevron-down': collapsed}"></span>
                </a>
                <div>
                    <input class="col-md-2" ng-model="dataField.isSelected" value="{{dataField.id}}" type="checkbox">
                    <div ng-if="(dataField.label == null) || (dataField.label.length <= 0)" class="col-md-6">{{dataField.name}}</div>
                    <div ng-if="dataField.label.length > 0" class="col-md-6">{{dataField.label}}</div>
                </div>
            </div>

            <div class="col-md-2"></div>

            <div ng-show="provider.fieldLevelCostPriceOverride == true">
                <label class="col-md-4">Cost:</label>

                <input ng-if="dataField.dataFields.length > 0" class="col-md-4 form-control" style="width: 12% !important;" type="number" min="0"
                       value="{{totalChildren(dataField, dataField.dataFields)}}" />

                <input ng-if="dataField.dataFields.length <= 0" class="col-md-4 form-control" style="width: 12% !important;" type="number" min="0" ng-model="dataField.costOfSale" />
            </div>
        </div>
    </div>
    <ul style="list-style-type: none;" data-nodrag type="category" class="angular-ui-tree" ng-class="{hidden: !collapsed}">
        <li style="cursor:default; border: none;" class="row category-title angular-ui-tree angular-ui-tree-handle" ng-repeat="subDF in dataField.dataFields | filter:filterIndustry" ng-include="'subChildrenFields_renderer.html'">

        </li>
    </ul>
</script>

<!-- SubChildren -->

<script type="text/ng-template" id="subChildrenFields_renderer.html">
    
    <div style="cursor:default" class=" angular-ui-tree-handle" data-nodrag>
        <div style="margin-left: -15px; margin-right: 0;" class="row">
            <div class="col-md-4">
                <a ng-if="subDF.dataFields.length > 0" style="cursor:pointer; float: left;" class="btn btn-success btn-xs" data-nodrag onclick="toggleTreeNode(this); return false;">
                    <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
                </a>
                <div>
                    <input class="col-md-2" ng-model="subDF.isSelected" value="{{subDF.id}}" type="checkbox">
                    <div ng-if="(subDF.label == null) || (subDF.label.length <= 0)" class="col-md-6">{{subDF.name}}</div>
                    <div ng-if="subDF.label.length > 0" class="col-md-6">{{subDF.label}}</div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div ng-show="provider.fieldLevelCostPriceOverride == true">
                <label class="col-md-4">Cost:</label>

                <input ng-if="subDF.dataFields.length > 0" class="col-md-2 form-control" style="width: 12% !important;" type="number" min="0"
                        value="{{totalChildren(subDF, subDF.dataFields)}}" />

                <input ng-if="subDF.dataFields.length <= 0" class="col-md-4 form-control" style="width: 12% !important;" type="number" min="0" ng-model="subDF.costOfSale" />
            </div>
        </div>
    </div>

</script>


<section class="mainbar" data-ng-controller="packageMaintenanceEdit">
    <!--{{dataProvsPkg.Package[0]}}-->
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{title}}"></div>
                    <div class="widget-content user">
                        <div id="info" class="row">
                            <div id="1" class="col-lg-3 col-md-6">
                                <div>
                                    <label>Name:</label>
                                    <div>
                                        <input type="textbox" class="form-control" ng-model="dataProvsPkg.Package[0].name" />
                                    </div>

                                    <label>Version:</label>
                                    <div>
                                        <input type="textbox" class="form-control" ng-model="dataProvsPkg.Package[0].displayVersion" readonly />
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <label>Description</label>
                                    </div>
                                    <div>
                                        <textarea class="form-control" style="resize: none;" rows="6" cols="50" ng-model="dataProvsPkg.Package[0].description"></textarea>
                                    </div>
                                </div>
                                <br />
                                <div>
                                    <button type="button" class="btn btn-danger" style="margin-left: 0;" ng-click="cancel()">Cancel</button>
                                    <button type="button" class="btn btn-success" ng-click="editPackage(dataProvsPkg.Package[0])">Save Package</button>
                                </div>
                            </div>

                            <div id="2" class="col-lg-3 col-md-6">
                                <div>
                                    <label>State:</label>
                                    <div>
                                        <select id="state_selection" class="form-control" ng-model="dataProvsPkg.Package[0].state" ng-options="state.name for state in states">
                                            <!--<option ng-repeat="state in states" value="{{state.id}}">{{state.alias}}</option>-->
                                        </select>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label>Revision Date: </label>
                                    <div current-date-time="format"></div>
                                </div>

                                <br />

                                <div>
                                    <label>Package Industry:</label>
                                    <div>
                                        <!--<select class="form-control" ng-model="dataProvsPkg.Package[0].industry" ng-selected="dataProvsPkg.Package.industry">
                                                <option ng-repeat="industry in industries" value="{{industry.name}}">{{industry.name}}</option>
                                            </select>-->

                                        <div multi-select
                                             input-model="dataProvsPkg.Package[0].industries"
                                             button-label="name"
                                             item-label="name maker"
                                             max-labels="1"
                                             tick-property="isSelected"
                                             output-model="selectedFields"
                                             on-item-click="filterData( selectedFields )">
                                        </div>

                                    </div>
                                </div>

                                <br />

                                <!--<div>
                                        <label>Owner:</label>
                                        <div>
                                            <select class="form-control" ng-model="dataProvsPkg.Package[0].owner" ng-selected="dataProvsPkg.Package[0].owner">
                                                <option ng-repeat="user in users">{{user.name}}</option>
                                            </select>
                                        </div>
                                    </div>-->

                                <div>
                                    <label>COS:</label>
                                    <div>
                                        <input id="cosPackage" type="number" class="form-control" value="{{total()}}" readonly />
                                    </div>
                                    <label>Recommended Sale Price:</label>
                                    <div>
                                        <input id="rsp" type="number" class="form-control" ng-model="dataProvsPkg.Package[0].recommendedSalePrice" ng-style="rspEditStyle" ng-change="{{total()}}" />
                                        <span ng-show="warning" syle="width: 80%;">
                                            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                                            <span class="help-block">WARNING: </span>
                                            <span class="help-block">Cost of sale exceeds Recommended Sale price!</span>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div id="3" class="col-lg-3 col-md-6">
                                <div ng-repeat="dataProviders in filterDataProviders(dataProvsPkg.Package[0])">
                                    <div ng-repeat="dataProvider in dataProviders">
                                        <label>{{dataProvider.name}}: </label>
                                        <span ng-repeat="dataField in dataProvider.dataFields" ng-include="'data_field_renderer.html'"></span>
                                    </div>
                                </div>
                            </div> 
                            </div> <!--End Info-->
                        <br />
                        <!-- DataProvider -->
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>Data Providers</h3>
                            </div>
                            <div class="col-lg-12">
                                <div ui-tree id="asdt" ng-model="dataProvsPkg">
                                    <div ng-repeat="(key,value) in filterDataProviders(dataProvsPkg.Package[0])">
                                        <ol ui-tree-nodes="" ng-model="value">
                                            <li ng-repeat="provider in value" ui-tree-node data-collapsed="!node.collapsed" ng-include="'proivder_nodes_renderer.html'"></li>
                                        </ol>
                                    </div>
                                </div>
                                <br />
                            </div>

                            <!-- <div class="col-lg-6">
                                <h3>Data binding</h3>
                                <div class="info">
                                    {{ info }}
                                </div>
                                <pre class="code">{{ dataProvsPkg | json }}</pre>
                            </div>-->

                            <div class="col-lg-6">
                                <div style="float: right;"></div>
                            </div>
                        </div>
                        <!-- End DataProvider -->
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>