<script type="text/ng-template" id="proivder_nodes_renderer.html">

    <div style="cursor:default" class="group-title angular-ui-tree-handle" data-nodrag>
        <a style="cursor:pointer;" class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this); callRestService(this)">
            <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
        </a>
        {{provider.name}}
    </div>
    <ol ui-tree-nodes style="cursor:default" class="angular-ui-tree-handle" ng-model="provider.dataFields" data-nodrag type="category" ng-class="{hidden: collapsed}">
        <li ui-tree-node style="cursor:default" class="row category-title angular-ui-tree-handle" ng-repeat="dataField in provider.dataFields">

            <input class="col-md-1" ng-model="dataField.isSelected" value="{{dataField.id}}" type="checkbox">
            <div class="col-md-6">{{dataField.name}}</div>
            <label class="col-md-2">Price:</label>   <input class="col-md-2 form-control" style="width: 12% !important;" type="number" min="0" ng-model="dataField.price" />

        </li>
    </ol>

</script>


<section class="mainbar" data-ng-controller="packageMaintenanceCreate">
    {{dataProvsPkg}}
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{title}}"></div>
                    <div class="widget-content user">

                        <div id="info" class="row">

                            <div id="1" class="col-md-3">
                                <div>
                                    <label>Name:</label>
                                    <div>
                                        <input type="textbox" class="form-control" ng-model="dataProvsPkg.Package.name" />
                                    </div>

                                    <label>Version:</label>
                                    <div>
                                        <input type="textbox" class="form-control" ng-model="dataProvsPkg.Package.version" readonly />
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <label>Description</label>
                                    </div>
                                    <div>
                                        <textarea class="form-control" style="resize: none;" rows="6" cols="50" ng-model="dataProvsPkg.Package.description"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div id="2" class="col-md-3">
                                <div>
                                    <label>State:</label>
                                    <div>
                                        <select class="form-control" ng-model="dataProvsPkg.Package.state" ng-selected="dataProvsPkg.Package.state">
                                            <option ng-repeat="state in states" value="{{state.name}}">{{state.alias}}</option>
                                        </select>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label>Filter Data Providers by Industry:</label>
                                    <div>
                                        <select class="form-control" ng-model="dataProvsPkg.Package.industry" ng-change="updateAPIModel()" ng-options="state.name for state in states"></select>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <label>Created Date: </label>
                                    <div current-date-time="format"></div>
                                </div>

                                <br />

                                <div>
                                    <label>Owner:</label>
                                    <div>
                                        <select class="form-control" ng-model="dataProvsPkg.Package.owner" ng-selected="dataProvsPkg.Package.owner">
                                            <option ng-repeat="user in users">{{user.name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div>
                                    <label>COS:</label>
                                    <div>
                                        <input type="textbox" class="form-control" value="{{total()}}" readonly />
                                        <input id="cosPackage" type="number" class="form-control" style="display: none !important;" ng-model="dataProvsPkg.Package.CostOfSale" readonly/>
                                    </div>
                                    <label>Recommended Sale Price:</label>
                                    <div>
                                        <input id="rsp" type="textbox" class="form-control" ng-model="dataProvsPkg.Package.RecommendedSalePrice" ng-style="rspCreateStyle" ng-change="{{total()}}" />
                                        <span ng-show="warning" syle="width: 80%;">
                                            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                                            <span class="help-block">WARNING: </span>
                                            <span class="help-block">Recommended Sale price exceeds Cost of sale!</span>
                                        </span>
                                    </div>

                                </div>


                            </div>


                            <!-- DataProvider -->

                            <div class="row">
                                <div class="col-md-4">

                                    <h3>Data Providers</h3>

                                    <div ui-tree id="asdt" ng-model="dataProvsPkg">
                                        <div ng-repeat="providers in dataProvsPkg.Package">
                                            <ol ui-tree-nodes="" ng-model="providers">
                                                <li ng-repeat="provider in providers" ui-tree-node data-collapsed="!node.collapsed" ng-include="'proivder_nodes_renderer.html'"></li>
                                            </ol>
                                        </div>
                                    </div>

                                    <br />

                                    <div style="float: right;">
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                        <button type="button" class="btn btn-primary">Save Draft</button>
                                        <button type="button" class="btn btn-success" ng-click="createPackage(dataProvsPkg.Package)">Publish</button>
                                    </div>



                                </div>

                                <!-- <div class="col-lg-6">
                                         <h3>Data binding</h3>
                                         <div class="info">
                                             {{ info }}
                                         </div>
                                         <pre class="code">{{ dataProvsPkg | json }}</pre>
                                     </div>-->

                                <div class="col-lg-6">
                                    <div style="float: right;">




                                    </div>

                                </div>
                            </div>  <!-- End DataProvider -->

                        </div> <!--End Info-->

                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>