<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="service/name" value="DEV - Lightstone: Workflow Billing Service"/>
    <add key="service/displayName" value="DEV - Lightstone: Workflow Billing Service"/>
    <add key="service/description" value="DEV - Lightstone: Workflow Billing Service"/>
  </appSettings>
</configuration>