<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="service/name" value="DEV_Lightstone_Workflow_Billing_Service"/>
  <add key="service/displayName" value="DEV - Lightstone: Workflow Billing Service"/>
  <add key="service/description" value="DEV - Lightstone: Workflow Billing Service"/>
</appSettings>