<?xml version="1.0" encoding="utf-8" ?>
  <connectionStrings>
    <add name="workflow/billing/queue" connectionString="host=localhost"/>
    <add name="workflow/billing/database" connectionString="Data Source=.;Database=LS_Billing;User Id=ls_billing_user;Password=the|quick?andthe|dead"/>
  </connectionStrings>
