<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Common.Logging" version="3.1.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net45" />
  <package id="EasyNetQ" version="0.47.10.380" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Monitoring.Domain" version="1.0.0.1200" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.PackageBuilder.Domain.Requests.Contracts" version="1.0.0.1215" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared" version="1.0.0.1215" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.Shared.BuildingBlocks" version="1.0.0.1200" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared.BuildingBlocks.AdoNet" version="1.0.0.1200" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Shared.Messaging.Billing" version="1.0.0.1200" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Workflow.Billing.Messages" version="1.0.0.1199" targetFramework="net45" />
  <package id="Lightstone.DataPlatform.Workflow.BuildingBlocks" version="1.0.0.1293" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.4.3" targetFramework="net45" />
</packages>