<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="EasyNetQ-Bundle" version="0.28.5.115" targetFramework="net45" />
  <package id="Lightstone.Dataplatform.Shared.BuildingBlocks" version="1.0.0.581" targetFramework="net45" />
</packages>