<div class="container">
<h2>Data Poviders</h2>
    <button type="button" ng-click="createProvider(dataProvider)">Save</button>
    <button type="button" ng-click="loadDProvider()">Load</button>

        <p>{{message}}</p>

        {{dataProvider}}

    <br />

<div id="info">

    <div id="1" style="float: left;" >
        <div>
            <label>Name:</label><input type="textbox" style="" ng-model="dataProvider.name" readonly/>
            <label>Version:</label><input type="textbox" style="display: readonly;" ng-model="dataProvider.version" readonly/>
        </div>
        <div>
            <div>
                <label>Description</label>
            </div>
            <div>
                <textarea rows="6" cols="50" ></textarea>
            </div>
        </div>
    </div>

    <div id="2" style="float: right;">
        <div>
            <label>State:</label>
            <select ng-model="dataProvider.state" ng-options="state.name for state in states"></select>
        </div>

        <div>
            <label>COS:</label><input type="textbox" ng-model="dataProvider.cos"/>
        </div>

        <br />

        <div >
        
            <label>Date: </label>
            <div class="input-group">

                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dataProvider.edited" is-open="opened" 
                    datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" /> 

                <span style="width: 20%;" class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>           

        </div>

        <br />

        <div>
            <label>Owner:</label>
            <select ng-model="dataProvider.owner" ng-options="user.name for user in users"></select>
        </div>
    </div>

</div> <!--End Info-->


<table class="table" style="padding-top: 20px;">
    <thead>
        <tr>
            <th>Field</th>
            <th>Type</th>
            <th>Label</th>
            <th>Definition</th>
            <th>Industries</th>
        </tr>
    </thead>
    <tbody  class="form-group" ng-repeat="dField in dataProvider.dataFields">
       
            <tr>
                <td>{{dField.name}}</td>
                <td>{{dField.type}}</td>
                <td><input ng-model="dField.label" type="text"></td>
                <td><input ng-model="dField.definition" type="text"></td>
                <td>
                    <select ng-model="dField.industries" > <!-- ng-options="ind in dField.industries" -->
                        
                    </select>
                </td>
            </tr>

    </tbody>
</table>

</div>