<div class="container">
    <button type="button" ng-click="createProvider(dataProvider)">Post Data Test</button>
    <button type="button" ng-click="loadDProvider()">Load</button>
<h2>Data Poviders</h2>

<br />
<p>{{message}}</p>

<table class="table">
    <thead>
        <tr>
            <th>Field</th>
            <th>Type</th>
            <th>Label</th>
            <th>Definition</th>
            <th>Industries</th>
        </tr>
    </thead>
    <tbody  class="form-group" ng-repeat="dField in dataProvider.dataFields">
       
            <tr>
                <td>{{dField.name}}</td>
                <td>{{dField.type}}</td>
                <td><input ng-model="dField.label" type="text"></td>
                <td><input ng-model="dField.definition" type="text"></td>
                <td>
                    <select ng-model="dField.industries" ng-options="ind in dField.industries">
                        
                    </select>
                </td>
            </tr>

    </tbody>
</table>

</div>