<div class="table-responsive">
	<table ng-table show-filter="true" class="table table-striped">
    	<tr ng-repeat="source in dSourcesData">
       		<td data-title="'Name'" filter="{ 'name': 'text' }">{{source.name}}</td>
        	<td data-title="'Description'">{{source.description}}</td>
        	<td data-title="'Owner'">{{source.owner}}</td>
        	<td data-title="'Created'">{{source.created}}</td>
        	<td data-title="'Edited'">{{source.edited}}</td>
        	<td data-title="'Version'">{{source.version}}</td>
    	</tr>
	</table>
</div>

<table ng-table="tableParams" show-filter="true" class="table">
        <tr ng-repeat="user in $data">
            <td data-title="'Name'" filter="{ 'name': 'text' }">
                {{user.name}}
            </td>
            <td data-title="'Age'">
                {{user.age}}
            </td>
        </tr>
    </table>