
     <script type="text/ng-template" id="proivder_nodes_renderer.html">

     <div style="cursor:default" class="group-title angular-ui-tree-handle" data-nodrag>
     <a style="cursor:pointer;" class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this); callRestService(this)">
     <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
     </a>
     {{provider.name}}
     </div>
     <ol ui-tree-nodes style="cursor:default" class="angular-ui-tree-handle"  ng-model="provider.fields" data-nodrag type="category" ng-class="{hidden: collapsed}">
     <li ui-tree-node style="cursor:default" class="row category-title angular-ui-tree-handle" ng-repeat="dataField in provider.dataFields" >
                  
        <input class="col-md-1" ng-model="dataPros.prods.prod[dataField.name]" ng-change="updateAPIModel(dataProvsPkg, dataField.name)" value="{{dataField.id}}" type="checkbox">
        <div class="col-md-7">{{dataField.name}}</div>
        <div class="col-md-3">Price: R{{dataField.price}}</div>                  
    
     </li>
     </ol>
      
    </script>


    <div class="row">
      <div class="col-lg-6" ui-tree="options">
        Aggregate per field: R {{ sum }}
      
        <h3>Data Providers</h3>

        <div ui-tree id="tree-root" ng-model="dataProvsPkg">
          <div ng-repeat="providers in dataProvsPkg" >
            <ol ui-tree-nodes="" ng-model="providers" >
              <li ng-repeat="provider in providers" ui-tree-node data-collapsed="!node.collapsed" ng-include="'proivder_nodes_renderer.html'" ></li>
            </ol>
          </div>
        </div>



      </div>

       <div class="col-lg-6">
        <h3>Data binding</h3>
        <div class="info">
          {{ info }}
        </div>
        <pre class="code">{{ dataProvsPkg | json }}</pre>
      </div>
    </div>

     
    


