<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="service/config/name" value="DEV_Lightstone_Workflow_Billing_Service"/>
  <add key="service/config/displayName" value="DEV - Lightstone: Workflow Billing Service"/>
  <add key="service/config/description" value="DEV - Lightstone: Workflow Billing Service"/>
  
  <add key="rabbitMQ/config/subscriptionPrefix" value="BILLING"/>
</appSettings>