<?xml version="1.0"?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--<add name="packageBuilder/database" connectionString="Url = http://localhost:8080; Database = NEventStore"/>-->

  <add name="workflow/billing/database" connectionString="#{Billing_ds}"/>

  <add name="billing"
       connectionString="#{Billing_ds}"
       providerName="System.Data.SqlClient" />

</connectionStrings>
