<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="workflow/billing/database" connectionString="#{Billing_ds}" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  <add name="billing" connectionString="#{Billing_ds}" providerName="System.Data.SqlClient" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
</connectionStrings>
