.gridStyle {
    height: 450px;
}

.ngHeaderScroller {
    position: absolute;
    background: #687074;
    color: white;
}

.grid-btn {

    width: 60px !important;
    height: 30px !important;
}

.user .btn {

    font-size: 14px !important;
}

.btn {
    margin-right: 0 !important;
}