<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="lace/source/database/anpr/certificates/configuration" connectionString="Configuration\Files\AnprCertificateConfigurationMaps.xml" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AnprServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://adslskyhi.dyndns.org:88/AnprService.asmx" binding="basicHttpBinding" bindingConfiguration="AnprServiceSoap" contract="AnprServiceReference.AnprServiceSoap" name="AnprServiceSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>