<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="lace/source/database/anpr/certificates/configuration" connectionString="Configuration\Files\AnprCertificateConfigurationMaps.xml"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AnprServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://adslskyhi.dyndns.org:88/AnprService.asmx"
          binding="basicHttpBinding" bindingConfiguration="AnprServiceSoap"
          contract="AnprServiceReference.AnprServiceSoap" name="AnprServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>