<?xml version="1.0"?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--<add name="packageBuilder/database" connectionString="Url = http://localhost:8080; Database = NEventStore"/>-->
  <add name="lim/schedule/database"
       connectionString="#{LIM_ds}"
       providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>

</connectionStrings>
