<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="packageBuilder/database" connectionString="Url = http://localhost:8080; Database = NEventStore"/>-->
  <add name="database/lim"
       connectionString="#{LIM_ds}"
       providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>

</connectionStrings>
