<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
  </configSections>
  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="host=localhost" />
    <add name="NServiceBus/Persistence" connectionString="Data Source=.;Initial Catalog=EventTracking.Write;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
    <add name="NServiceBus/Persistence/NHibernate/Subscription" connectionString="Data Source=.;Initial Catalog=EventTracking.Write;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
    <add name="EventTracking.EventStore" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=EventTracking.Write;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  </connectionStrings>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="EventTracking.Error" />
  <AuditConfig QueueName="EventTracking.Audit" />
  <UnicastBusConfig>
    <MessageEndpointMappings />
  </UnicastBusConfig>
</configuration>